
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script>
    CheckIntialOpening();
</script>
@section Css {
    <!-- DataTables -->
    <link href="~/Content/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/datatables/dataTables.colVis.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/datatables/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/datatables/fixedColumns.dataTables.min.css" rel="stylesheet" type="text/css" />


}

<!-- Start content -->
<script>
        var App = angular.module("DHM", []);
        App.controller("ProducedSalesCtrl", function ($scope, $http) {
            $scope.Grid = [];
            $scope.RemainingList = [];
            $scope.ProducedRiceSales_pt = { Party_Id: 0 };
            $scope.ProducedRiceSales_pt.Party = { Party_Id: 0, Party_Name: '', Party_Code: '', Party_MobileNo: '', Party_Address: '' };
            $scope.ProducedRiceSales_pt.prsp_id = 0;
            $scope.ProducedRiceSales_pt.prsp_Title = "";
            $scope.ProducedRiceSales_pt.prsp_TotalWeight_Mann = 0;
            $scope.ProducedRiceSales_pt.prsp_TotalWeight_KG = 0;
            $scope.ProducedRiceSales_pt.prsp_Total_Amount = 0;
            $scope.NetTotal = 0;
            $scope.RemainingAmount = 0;
            var list = [];
            $scope.isCash = "true";
            $scope.isBankAccount = "false";
            $scope.isCheckbook = "false";
            $scope.Invoiceno;
            function JsonCall(Controller, Action) {
                $.ajax({
                    type: "POST",
                    traditional: true,
                    async: false,
                    cache: false,
                    url: '/' + Controller + '/' + Action,
                    context: document.body,
                    success: function (json) {
                        list= json;
                    }
               ,
                    error: function (xhr) {
                        //debugger;
                    }
                });
            }
            function JsonCallParam(Controller, Action, Parameters) {
                $.ajax({
                    type: "POST",
                    traditional: true,
                    async: false,
                    cache: false,
                    url: '/' + Controller + '/' + Action,
                    context: document.body,
                    data:Parameters,
                    success: function (json) {
                        list = json;
                    }
               ,
                    error: function (xhr) {
                        //debugger;
                    }
                });
            }
            function WebApiCall(Type, Action, Parameters) {

                $.ajax({
                    type: Type,
                    traditional: true,
                    async: false,
                    cache: false,
                    url: '/api/' + Action,
                    context: document.body,
                    data: Parameters,
                    ContentType: 'application/json;utf-8',
                    success: function (json) {
                        list = json;
                    }
               ,
                    error: function (xhr) {
                        //debugger;
                    }
                });
            }
            JsonCall("OpeningClosing", "CheckIntialOpening");
            $scope.PartyList = [];
            $scope.Get_Party_Via_Code = function () {
                if ($scope.ProducedRiceSales_pt.Party.Party_Id > 0) {
                    $scope.ProducedRiceSales_pt.Party.Party_Id = 0;
                    $scope.ProducedRiceSales_pt.Party.Party_MobileNo = '';
                }
                var parm = {
                    'Code': JSON.stringify($scope.ProducedRiceSales_pt.Party.Party_Code)
                };
                JsonCallParam("ProducedRiceSales", "Get_Party_Via_Code", parm);
                if (list != null) {
                    $scope.ProducedRiceSales_pt.Party = list;
                    $scope.GetPartyRemainings();
                }
            };
            $scope.Get_Party_Via_Mobile = function () {

                if ($scope.ProducedRiceSales_pt.Party.Party_Id > 0) {
                    $scope.ProducedRiceSales_pt.Party.Party_Id = 0;
                    $scope.ProducedRiceSales_pt.Party.Party_Code = '';
                }
                var parm = {
                    'Mobile': JSON.stringify($scope.ProducedRiceSales_pt.Party.Party_MobileNo)
                };
                JsonCallParam("ProducedRiceSales", "Get_Party_Via_Mobile", parm);
                if (list != null) {
                    $scope.ProducedRiceSales_pt.Party = list;
                    $scope.GetPartyRemainings();
                }
            };

            $scope.ProducedRice_List=[];
            $scope.Get_Produced_Rice = function () {
                JsonCall("ProducedRiceSales", "Get_Produced_Rice");
                $scope.ProducedRice_List = list;
            };
            $scope.Get_Produced_Rice();

            $scope.ProducedRiceSales_ch = [];
            $scope.addNew = function (obj) {
                $scope.ProducedRiceSales_ch.push({
                    'prsc_id': 0,
                    'Rice_Production_id': 0,
                    'prsc_title':"",
                    'prsc_ttl_qty': 0,
                    'prsc_sld_qty':0,
                    'prsc_qty': 0,
                    'prsc_packing_type':0,
                    'prsc_Weight_kg': 0,
                    'prsc_Weight_kg_ttl': 0,
                    'prsc_Weight_mann': 0,
                    'prsc_Weight_mann_ttl': 0,
                    'prsc_PerBagMarketPrice':0,
                    'prsc_price': 0,
                    'prsp_id': 0,
                    'prsp_status':false
                });
                $scope.Calculation();
            };

            $scope.Fill_fields_on_ProducedRiceChange = function (i) {
              
                JsonCallParam("ProducedRiceSales", "Get_Produced_Rice_id", {
                    "id": $scope.ProducedRiceSales_ch[i].Rice_Production_id
                });

                $scope.ProducedRiceSales_ch[i].prsc_ttl_qty = list.Item1;
                $scope.ProducedRiceSales_ch[i].prsc_sld_qty = list.Item2;
                $scope.ProducedRiceSales_ch[i].prsc_qty = 0;
                $scope.ProducedRiceSales_ch[i].prsc_Weight_kg_ttl = list.Item3;
                $scope.ProducedRiceSales_ch[i].prsc_packing_type = list.Item4;
                $scope.ProducedRiceSales_ch[i].prsc_Weight_mann_ttl = (parseFloat(list.Item4) * parseFloat("0.025"));
                $scope.ProducedRiceSales_ch[i].Rice_Production_id = list.Item5;
                $scope.ProducedRiceSales_ch[i].prsc_title = list.Item6;
               
                $scope.ProducedRiceSales_ch[i].prsc_PerBagMarketPrice = list.Item7;
                $scope.Calculation();
            };
            $scope.Fill_fields_on_ProducedRiceChange2 = function (i) {

                JsonCallParam("ProducedRiceSales", "Get_Produced_Rice_id", {
                    "id": $scope.ProducedRiceSales_ch[i].Rice_Production_id
                });

                $scope.ProducedRiceSales_ch[i].prsc_ttl_qty = list.Item1;
                $scope.ProducedRiceSales_ch[i].prsc_sld_qty = list.Item2 - $scope.ProducedRiceSales_ch[i].prsc_qty;
                $scope.ProducedRiceSales_ch[i].prsc_Weight_kg_ttl = list.Item3;
                $scope.ProducedRiceSales_ch[i].prsc_packing_type = list.Item4;
                $scope.ProducedRiceSales_ch[i].prsc_Weight_mann_ttl = (parseFloat(list.Item4)*parseFloat("0.025"));
                $scope.ProducedRiceSales_ch[i].Rice_Production_id = list.Item5;
                $scope.ProducedRiceSales_ch[i].prsc_title = list.Item6;
               
                $scope.ProducedRiceSales_ch[i].prsc_PerBagMarketPrice = list.Item7;
                $scope.Calculation();
            };
            $scope.Calculation = function () {
                var RemainingTotal = 0;
                $scope.ProducedRiceSales_pt.prsp_TotalWeight_Mann = 0;
                $scope.ProducedRiceSales_pt.prsp_TotalWeight_KG = 0;
                $scope.ProducedRiceSales_pt.prsp_Total_Amount = 0;
                $scope.ProducedRiceSales_pt.prsp_Title = "Sales ";
                var count = 0;
                angular.forEach($scope.ProducedRiceSales_ch, function (obj) {
                    if (obj.prsc_qty > (obj.prsc_ttl_qty - obj.prsc_sld_qty)) {
                        obj.prsc_qty = obj.prsc_ttl_qty - obj.prsc_sld_qty;
                    }
                    obj.prsc_Weight_kg = obj.prsc_qty * obj.prsc_packing_type;
                    obj.prsc_Weight_mann = (parseFloat(obj.prsc_Weight_kg) * parseFloat("0.025"));
                    obj.prsc_price = Math.round( obj.prsc_PerBagMarketPrice * obj.prsc_qty);
                    $scope.ProducedRiceSales_pt.prsp_TotalWeight_Mann += obj.prsc_Weight_mann;
                    $scope.ProducedRiceSales_pt.prsp_TotalWeight_KG += obj.prsc_Weight_kg;
                    $scope.ProducedRiceSales_pt.prsp_Total_Amount += obj.prsc_price;
                    if (count == 0) {
                        $scope.ProducedRiceSales_pt.prsp_Title += obj.prsc_title;
                    }
                    else {
                        $scope.ProducedRiceSales_pt.prsp_Title += (", " + obj.prsc_title);
                    }
                    count++;
                });
                if (isNaN($scope.ProducedRiceSales_pt.prsp_TotalWeight_Mann)) {
                    $scope.ProducedRiceSales_pt.prsp_TotalWeight_Mann = 0;
                }
                if (isNaN($scope.ProducedRiceSales_pt.prsp_TotalWeight_KG)) {
                    $scope.ProducedRiceSales_pt.prsp_TotalWeight_KG = 0;
                }
                if (isNaN($scope.ProducedRiceSales_pt.prsp_Total_Amount)) {
                    $scope.ProducedRiceSales_pt.prsp_Total_Amount = 0;
                }

                angular.forEach($scope.RemainingList, function (obj) {
                    if (obj.selected) {
                        RemainingTotal += obj.Item3;
                    }
                });

                $scope.NetTotal = $scope.ProducedRiceSales_pt.prsp_Total_Amount + RemainingTotal;
                if ($scope.RecievedAmount > $scope.NetTotal) {
                    $scope.RecievedAmount = $scope.NetTotal;
                }
                if ($scope.RecievedAmount < RemainingTotal) {
                    $scope.RecievedAmount = RemainingTotal;
                }
                $scope.RemainingAmount = $scope.NetTotal - $scope.RecievedAmount;
                if (isNaN($scope.RemainingAmount)) {
                    $scope.RemainingAmount = 0;
                }

            }
            $scope.Deleted_ProducedRiceSales_ch = [];
            $scope.remove = function () {
                var newDataList = [];
                $scope.selectedAll = false;
                angular.forEach($scope.ProducedRiceSales_ch, function (obj) {
                    if (!obj.selected) {
                        newDataList.push(obj);
                    }
                    else{
                        if (obj.prsc_id > 0) {
                            $scope.Deleted_ProducedRiceSales_ch.push(obj);
                        }
                    }
                });
                $scope.ProducedRiceSales_ch = newDataList;
                $scope.Calculation();
            };

            $scope.checkAll = function () {
                if (!$scope.selectedAll) {
                    $scope.selectedAll = false;
                } else {
                    $scope.selectedAll = true;
                }
                angular.forEach($scope.ProducedRiceSales_ch, function (obj) {
                    obj.selected = $scope.selectedAll;
                });
            };
            $scope.chashClick = function () {
                $scope.isCash = "true";
                $scope.isBankAccount = "false";
                $scope.isCheckbook = "false";
            };
            $scope.BankClick = function () {
                $scope.isCash = "false";
                $scope.isBankAccount = "true";
                $scope.isCheckbook = "false";
            };
            $scope.CheckClick = function () {
                $scope.isCash = "false";
                $scope.isBankAccount = "false";
                $scope.isCheckbook = "true";
            };
            $scope.ClearParty = function () {

                $scope.ProducedRiceSales_pt = { Party_Id: 0 };
                $scope.ProducedRiceSales_pt.Party = { Party_Id: 0, Party_Name: '', Party_Code: '', Party_MobileNo: '', Party_Address: '' };
            };
            $scope.Clear = function () {
                $scope.Deleted_ProducedRiceSales_ch = [];
                $scope.RemainingList = [];
                $scope.ProducedRiceSales_ch = [];
                $scope.ProducedRiceSales_pt = { Party_Id: 0 };
                $scope.ProducedRiceSales_pt.Party = { Party_Id: 0, Party_Name: '', Party_Code: '', Party_MobileNo: '', Party_Address: '' };
                $scope.NetTotal = 0;
                $scope.RemainingAmount = 0;
                $scope.RecievedAmount = 0;
                var list = [];
                $scope.isCash = "true";
                $scope.isBankAccount = "false";
                $scope.isCheckbook = "false";
                //$scope.ProducedRiceSales_pt.Party_Id = null;
                $scope.ProducedRiceSales_pt.prsp_id = 0;
                $scope.Calculation();

                $scope.Invoiceno = 0;
            };
            $scope.LoadGrid = function () {
                JsonCall("ProducedRiceSales", "Get_pt");
                $scope.Grid = list;
                angular.forEach($scope.Grid, function (obj) {
                    var parm = { 'prsp_id': obj.Item1.prsp_id }
                    $http.post(
                     '/ProducedRiceSales/Get_ReturnStatus',
                     parm,
                     {
                         headers: {
                             'Content-Type': 'application/json'
                         }
                     }).then(function (res) {
                         obj.Item8 = res.data;
                         console.log($scope.Grid);
                     }, function (res) {
                         //Error here
                     }
                     );
                });
            };
            $scope.LoadGrid();

            $scope.GetPartyRemainings = function () {
                if ($scope.ProducedRiceSales_pt.prsp_id == 0) {
                    JsonCallParam("ProducedRiceSales", "GetPartyRemainings", { "Party_Id": $scope.ProducedRiceSales_pt.Party.Party_Id });
                    $scope.RemainingList = list;
                } else {
                    JsonCallParam("ProducedRiceSales", "GetPartyRemainings1", { "Party_Id": $scope.ProducedRiceSales_pt.Party.Party_Id, "prsp_id": $scope.ProducedRiceSales_pt.prsp_id });
                    $scope.RemainingList = list;
                }
            };
            $scope.LoadProducedRice_pt = function (obj) {
                
                $scope.ProducedRiceSales_pt.prsp_id = obj.Item1.prsp_id;
                $scope.ProducedRiceSales_pt.prsp_Title = obj.Item1.prsp_Title;
                $scope.ProducedRiceSales_pt.Party_Id = obj.Item1.Party_Id;
                $scope.GetPartyRemainings();
                $scope.ProducedRiceSales_pt.prsp_TotalWeight_KG = obj.Item1.prsp_TotalWeight_KG;
                $scope.ProducedRiceSales_pt.prsp_TotalWeight_Mann = obj.Item1.prsp_TotalWeight_Mann;
                $scope.ProducedRiceSales_pt.prsp_Total_Amount = obj.Item1.prsp_Total_Amount;
                $scope.Invoiceno = obj.Item7;
                JsonCallParam("ProducedRiceSales", "Get_Party", { "prsp_id": obj.Item1.prsp_id });
                $scope.ProducedRiceSales_pt.Party = list;
                JsonCallParam("ProducedRiceSales", "Get_ch", { "id": obj.Item1.prsp_id });
                var i = 0;
                angular.forEach(list, function (obj) {
                    $scope.ProducedRiceSales_ch[i] = obj;
                    $scope.Fill_fields_on_ProducedRiceChange2(i);
                    $scope.Calculation();
                    i++;
                });
                //for (var i = 0; i < list.length; i++) {
                //    alert(list[i].prsc_title +", "+i);
                //    $scope.ProducedRiceSales_ch[i] = list[i];
                //    $scope.Fill_fields_on_ProducedRiceChange2(i);
                //    $scope.Calculation();
                //    alert("invoked");
                //}

                $scope.RecievedAmount = obj.Item3;
                $scope.Calculation();


            };
            $scope.Delete = function (obj) {
                JsonCallParam("ProducedRiceSales", "Delete_sales", { "id": obj.Item1.prsp_id });
                $scope.LoadGrid();
            }
            $scope.ReceivedRemaining = function (obj) {
                JsonCallParam("ProducedRiceSales", "ReceivedRemaining", { "id": obj.Item1.prsp_id, "Remaining": obj.Item5 });
                $scope.LoadGrid();
            };
            $scope.Return = function (obj) {
                // console.log(obj.Item1.rsp_id);
                var parm = { 'prsp_id': obj.Item1.prsp_id }
                $http.post(
                 '/ProducedRiceSales/Return',
                 parm,
                 {
                     headers: {
                         'Content-Type': 'application/json'
                     }
                 }).then(function (res) {
                     $scope.Clear();
                     $scope.LoadGrid();
                 }, function (res) {
                     //Error here
                 }
                 );
            };
            $scope.ValidateRemainings = function () {
                angular.forEach($scope.Grid, function (obj) {
                    console.log(obj.Item5);
                    if (obj.Item5 > obj.Item4) {
                        obj.Item5 = obj.Item4;
                    }
                    else if (obj.Item5 < 0) {
                        obj.Item5 = 0;
                    }
                    else if (obj.Item5 == "") {
                        obj.Item5 = 0;
                    }
                    else if (obj.Item5 == null) {
                        obj.Item5 = 0;
                    }
                });
            }
            $scope.Save = function () {
                $scope.ProducedRiceSales_pt.Party.ApplicationUser = null;
                var remaining_prsp_id = [];
                angular.forEach($scope.RemainingList, function (obj) {
                    if (obj.selected) {
                        remaining_prsp_id.push(obj.Item1.prsp_id);
                    }
                });
                var Party = {};
                angular.extend(Party, $scope.ProducedRiceSales_pt.Party);
                $scope.ProducedRiceSales_pt.Party = Party;
                if ($scope.ProducedRiceSales_pt.prsp_id == 0) {
                    var pram = {
                        'ProducedRiceSales_pt': JSON.stringify($scope.ProducedRiceSales_pt),
                        'RecievedAmount': $scope.RecievedAmount,
                        'isCash': $scope.isCash,
                        'isBankAccount': $scope.isBankAccount,
                        'isCheckbook': $scope.isCheckbook,
                        'CheckNo': $scope.CheckNo,
                        'BankAccountNo': $scope.BankAccountNo,
                        'ProducedRiceSales_ch': JSON.stringify($scope.ProducedRiceSales_ch),
                        'remaining_prsp_id': JSON.stringify(remaining_prsp_id)
                    };

                    JsonCallParam("ProducedRiceSales", "Insert_sales", pram);

                }
                else {
                    var ProducedRiceSales_ch_obj = $scope.ProducedRiceSales_ch;
                
                    for (var i = 0; i < ProducedRiceSales_ch_obj.length; i++) {
                        ProducedRiceSales_ch_obj[i].Rice_Production = null;
                        ProducedRiceSales_ch_obj[i].ProducedRiceSales_pt = null;
                    }
                    var Deleted_ProducedRiceSales_ch = $scope.Deleted_ProducedRiceSales_ch;
                    for (var i = 0; i < Deleted_ProducedRiceSales_ch.length; i++) {
                        Deleted_ProducedRiceSales_ch[i].Rice_Production = null;
                        Deleted_ProducedRiceSales_ch[i].ProducedRiceSales_pt = null;
                    }
                    var pram = {
                        'ProducedRiceSales_pt': JSON.stringify($scope.ProducedRiceSales_pt),
                        'RecievedAmount': $scope.RecievedAmount,
                        'isCash': $scope.isCash,
                        'isBankAccount': $scope.isBankAccount,
                        'isCheckbook': $scope.isCheckbook,
                        'CheckNo': $scope.CheckNo,
                        'BankAccountNo': $scope.BankAccountNo,
                        'ProducedRiceSales_ch': JSON.stringify(ProducedRiceSales_ch_obj),
                        'remaining_prsp_id': JSON.stringify(remaining_prsp_id),
                        'Deleted_ProducedRiceSales_ch': JSON.stringify(Deleted_ProducedRiceSales_ch)
                    };

                    JsonCallParam("ProducedRiceSales", "Update_sales", pram);
                }

                $scope.LoadGrid();
                $scope.Clear();
            }
        });
</script>

<div ng-app="DHM" ng-controller="ProducedSalesCtrl">
    <div class="content">
        <div class="container">


            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Produced Rice</h4>
                        <ol class="breadcrumb p-0 m-0">

                            <li class="active">                                
                                Invoice no :{{Invoiceno}}
                            </li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="container card-box">
                <div class="form-horizontal">
                    <h4>{{ProducedRiceSales_pt.prsp_Title}}</h4>
                    <hr />
                    <form name="form">
                        <br />
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <label class="control-label col-md-4">Party Name</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" name="Party_Name" ng-model="ProducedRiceSales_pt.Party.Party_Name" ng-disabled="ProducedRiceSales_pt.Party.Party_Id>0" placeholder="ex: Hussnain" pattern="^[A-Za-z ]{2,25}$" required />
                                        <span style="color:red" ng-show="form.Party_Name.$invalid &&form.Party_Name.$dirty">
                                            <span ng-show="form.Party_Name.$error.required">Enter Party Name</span>
                                            <span ng-show="form.Party_Name.$error.pattern">Invalid Party Name only Alphabetic Name will acceptable and length should be 2 to 25</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label col-md-4">Party Code</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" name="PartyCode" ng-model="ProducedRiceSales_pt.Party.Party_Code" ng-change="Get_Party_Via_Code()" placeholder="ex: 46A13" pattern="^[A-Za-z0-9,_-]{2,8}$" required />
                                        <span style="color:red" ng-show="form.PartyCode.$invalid &&form.PartyCode.$dirty">
                                            <span ng-show="form.PartyCode.$error.required">Enter Party Code</span>
                                            <span ng-show="form.PartyCode.$error.pattern">Invalid Party Code only Alpha Numeric Code will acceptable and length should be 2 to 8</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label col-md-4">Party Mobile no</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" name="Party_MobileNo" ng-model="ProducedRiceSales_pt.Party.Party_MobileNo" ng-change="Get_Party_Via_Mobile()" placeholder="ex: 0323-xxxxxxx" pattern="^\(?([0-9]{4})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$" required />
                                        <span style="color:red" ng-show="form.Party_MobileNo.$invalid &&form.Party_MobileNo.$dirty">
                                            <span ng-show="form.Party_MobileNo.$error.required">Enter Party Mobile no</span>
                                            <span ng-show="form.Party_MobileNo.$error.pattern">Invalid Format Mobile Number ex: 0323-xxxxxxx or 0323xxxxxxx </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label class="control-label col-md-1">Party Address</label>
                            <div class="col-md-8" style="margin-left:3%">
                                <input type="text" class="form-control" name="Address" ng-model="ProducedRiceSales_pt.Party.Party_Address" ng-disabled="ProducedRiceSales_pt.Party.Party_Id>0" placeholder="Address" required />
                                <span style="color:red" ng-show="form.Address.$invalid &&form.Address.$dirty">
                                    <span ng-show="form.Address.$error.required">Enter Party Address</span>
                                </span>
                            </div>
                            <div class="col-md-2">

                                <input type="button" value="Clear Party" class="btn btn-lg btn-warning" style="width:100%" ng-click="ClearParty()" />
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <label class="control-label col-md-4">Total Weight (Mann)</label>
                                    <div class="col-md-8">
                                        <p style="margin-top:3%">{{ProducedRiceSales_pt.prsp_TotalWeight_Mann}}</p>
                                        @* <input name="prsp_TotalWeight_KG" ng-model="prsp_TotalWeight_Mann" ng-init="prsp_TotalWeight_Mann=0" class="form-control" disabled />*@
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label col-md-4">Total Weight (KG)</label>
                                    <div class="col-md-8">
                                        <p style="margin-top:3%">
                                            {{ProducedRiceSales_pt.prsp_TotalWeight_KG}}
                                        </p>
                                        @* <input name="prsp_TotalWeight_KG" ng-model="prsp_TotalWeight_KG"  ng-init="prsp_TotalWeight_KG=0" class="form-control" disabled />*@
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label col-md-4">Total Amount</label>
                                    <div class="col-md-8">
                                        <p style="margin-top:3%">

                                            {{ProducedRiceSales_pt.prsp_Total_Amount}}
                                        </p>
                                        @*<input name="prsp_Total_Amount" ng-model="prsp_Total_Amount" ng-init="prsp_Total_Amount=0" class="form-control" disabled />*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">

                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" /></th>
                                            <th>Produced Rice</th>
                                            <th>Stock QTY</th>
                                            <th>Per Bag Price</th>
                                            <th>Qty</th>
                                            <th>Weight KG</th>
                                            <th>Weight Mann</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="obj in ProducedRiceSales_ch">
                                            <td>
                                                <input type="checkbox" ng-model="obj.selected" />
                                            </td>
                                            <td>
                                                <select ng-model="obj.Rice_Production_id" name="Rice_Production_id" id="Rice_Production_id_{{$index}}" ng-options="item.Rice_Production_id as item.Rice_Production_name for item in ProducedRice_List" class="form-control selectpicker" ng-change="Fill_fields_on_ProducedRiceChange({{$index}})" required>
                                                    <option value="">Select ProducedRice</option>
                                                </select>
                                            </td>
                                            <td>

                                                <input type="number" class="form-control" ng-model="obj.prsc_ttl_qty-obj.prsc_sld_qty" required disabled />
                                            </td>
                                            <td>
                                                <input type="number" class="form-control" ng-model="obj.prsc_PerBagMarketPrice" required disabled />

                                            </td>
                                            <td>
                                                <input type="number" class="form-control" ng-model="obj.prsc_qty" ng-change="Calculation()" required />
                                            </td>
                                            <td>

                                                <input type="text" class="form-control" ng-model="obj.prsc_Weight_kg" required disabled />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-model="obj.prsc_Weight_mann" required disabled />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-model="obj.prsc_price" required disabled />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="form-group">
                                    <input ng-hide="!ProducedRiceSales_ch.length" type="button" class="btn btn-danger pull-right" ng-click="remove()" value="Remove Selected">
                                    <input type="button" class="btn btn-primary addnew pull-right" value="Add New" ng-click="addNew()" style="margin-right:3px">
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div ng-show="RemainingList.length">
                            <h5>Previous ProducedRice Sales remaining</h5>
                            <hr />
                            <div>
                                <div class="row" ng-repeat="item in RemainingList">
                                    <div class="col-sm-12">
                                        <div class="col-sm-1">
                                            <input type="checkbox" ng-model="item.selected" ng-click="Calculation()" />
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="control-label col-md-2">Title</label>
                                            <div class="col-md-10">
                                                <p style="margin-top:10px">{{item.Item1.prsp_Title}}</p>

                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="control-label col-md-2">Recieved amount</label>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-9">
                                                <p style="margin-top:10px">{{item.Item2}}</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="control-label col-md-2">Remaining amount</label>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-9">
                                                <p style="margin-top:10px">{{item.Item3}}</p>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group" style="margin-left:15%">
                            <div class="col-sm-12">
                                <div class="col-sm-3">
                                    <label class="control-label col-md-2">NetTotal</label>
                                    <div class="col-md-10">
                                        <p style="margin-left:18%;margin-top:5%">{{NetTotal}}</p>

                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label col-md-2">Recieved Amount</label>
                                    <div class="col-md-10">
                                        <input type="number" name="RecievedAmount" ng-model="RecievedAmount" ng-init="RecievedAmount=0" class="form-control" style="margin-left:12%" ng-change="Calculation()" required />
                                        <span style="color:red" ng-show="form.RecievedAmount.$invalid &&form.RecievedAmount.$dirty">
                                            <span ng-show="form.RecievedAmount.$error.required">Enter Payed Amount</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label col-md-2">Remaining Amount</label>
                                    <div class="col-md-10">
                                        <p style="margin-left:20%;margin-top:5%">{{RemainingAmount}}</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-2">Select Receiving method</label>
                            <div class="col-md-10" style="margin-top:10px">

                                <input type="radio" name="isCash" id="isCash" ng-model="isCash" ng-click="chashClick()" value="true">Cash Payment
                                <input type="radio" name="isBankAccount" ng-model="isBankAccount" id="isBankAccount" value="true" ng-click="BankClick()" style="margin-left:20px">Receiving By Bank Account
                                <input type="radio" name="isCheckbook" id="isCheckbook" ng-model="isCheckbook" value="true" ng-click="CheckClick()" style="margin-left:20px">Receiving By Check
                            </div>
                        </div>
                        <div class="form-group" id="checkbook_id" ng-show="isCheckbook=='true'">
                            <div id="checkbook_content">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Checkbook no</label>
                                    <div class="col-md-9">
                                        <input name="CheckBookNo" id="CheckBookNo" ng-model="CheckNo" class="form-control" required />

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Bank Account no</label>
                                    <div class="col-md-9">
                                        <input name="BankAccountNo" id="BankAccountNo" ng-model="BankAccountNo" class="form-control" required />

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group" id="isBankAccount" ng-show="isBankAccount=='true'">
                            <div id="BankAccount_content">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Bank Account no</label>
                                    <div class="col-md-9">
                                        <input name="BankAccountNo" id="BankAccountNo" ng-model="BankAccountNo" class="form-control" required />

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8">
                                <div class="col-sm-6">
                                    <input type="submit" name="Save" id="Save" value="Save" class="btn btn-lg btn-success" ng-click="Save()" ng-disabled="form.RecievedAmount.$invalid||
                                           form.Party_Name.$invalid||
                                           form.PartyCode.$invalid||
                                           form.Party_MobileNo.$invalid||
                                           form.Address.$invalid||!ProducedRiceSales_ch.length||NetTotal==0" style="width:100%" />
                                </div>

                                <div class="col-sm-6">
                                    <input type="button" value="Clear" class="btn btn-lg btn-warning" style="width:100%" ng-click="Clear()" />
                                </div>
                            </div>

                            <div class="col-sm-2"></div>
                        </div>
                    </form>
                </div>
            </div>
            <br />
            <div class="container card-box">
                <div class="form-horizontal">
                    <h4>ProducedRice Selling Record</h4>
                    <input type="button" class="btn btn-sm btn-default" value="Refresh" ng-click="LoadGrid()" />
                    <hr />
                    <table id="datatable-buttons" class="table table-striped  table-colored table-info">
                        <thead>
                            <tr>
                                <th>Invoice no</th>
                                <th>Title</th>
                                <th>Date</th>
                                <th>Party</th>
                                <th>Total Weight (KG)</th>
                                <th>Total Weight (Mann)</th>
                                <th>Total Amount</th>
                                <th>Recieved</th>
                                <th>Remaining</th>
                                <th>Returning</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in Grid">
                                <td>{{item.Item7}}</td>
                                <td>{{item.Item1.prsp_Title}}</td>
                                <td>{{item.Item2}}</td>
                                <td>{{item.Item1.Party.Party_Name}}</td>
                                <td>{{item.Item1.prsp_TotalWeight_KG}}</td>
                                <td>{{item.Item1.prsp_TotalWeight_Mann}}</td>
                                <td>{{item.Item1.prsp_Total_Amount}}</td>
                                <td>{{item.Item3}}</td>

                                <td ng-show="item.Item4>0 && item.Item8==0">
                                    <input ng-model="item.Item5" type="number" ng-change="ValidateRemainings()" />
                                    <input type="button" value="Receive Remaining" class="btn btn-sm btn-primary" ng-click="ReceivedRemaining(item)" ng-show="item.Item5>0" />
                                </td>
                                <td ng-show="item.Item4>0 && item.Item8==1">
                                    {{item.Item5}}
                                </td>
                                <td ng-show="item.Item4==0">0</td>

                                <td ng-if="item.Item8==0"> <input type="button" value="Return Invoice" class="btn btn-sm btn-danger" ng-click="Return(item)" />  </td>
                                <td ng-if="item.Item8==1"> Returned!</td>

                                <td ng-if="item.Item6==1&&item.Item8==0"><input value="Edit" class="btn btn-sm btn-warning" type="button" ng-click="LoadProducedRice_pt(item)" /><input value="Delete" class="btn btn-sm btn-danger" ng-click="Delete(item)" type="button" /> </td>
                                <td ng-if="item.Item6==0||item.Item8==1">No Action</td>                                 
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
