USE [master]
GO
/****** Object:  Database [DHMRice]    Script Date: 11/20/2017 1:01:35 AM ******/
CREATE DATABASE [DHMRice]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DHMRice', FILENAME = N'E:\Softwares\sql server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DHMRice.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DHMRice_log', FILENAME = N'E:\Softwares\sql server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DHMRice_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DHMRice].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DHMRice]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/20/2017 1:01:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 11/20/2017 1:01:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 11/20/2017 1:01:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 11/20/2017 1:01:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 11/20/2017 1:01:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 11/20/2017 1:01:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[MobileNo] [nvarchar](max) NULL,
	[User_Cnic] [nvarchar](max) NULL,
	[User_Adress] [nvarchar](max) NULL,
	[ShopCrendital] [bit] NOT NULL,
	[FactroryCrendital] [bit] NOT NULL,
	[Status] [bit] NOT NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Brokers]    Script Date: 11/20/2017 1:01:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brokers](
	[Broker_Id] [int] IDENTITY(1,1) NOT NULL,
	[Broker_Name] [nvarchar](max) NOT NULL,
	[Broker_Code] [nvarchar](max) NOT NULL,
	[Broker_MobileNo] [nvarchar](max) NOT NULL,
	[Broker_BankName] [nvarchar](max) NOT NULL,
	[Broker_ACcountNo] [nvarchar](max) NOT NULL,
	[Broker_Address] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Brokers] PRIMARY KEY CLUSTERED 
(
	[Broker_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customers]    Script Date: 11/20/2017 1:01:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Customer_Id] [int] IDENTITY(1,1) NOT NULL,
	[Customer_Name] [nvarchar](max) NOT NULL,
	[Customer_Code] [nvarchar](max) NOT NULL,
	[Customer_MobileNo] [nvarchar](max) NOT NULL,
	[Customer_BankName] [nvarchar](max) NOT NULL,
	[Customer_ACcountNo] [nvarchar](max) NOT NULL,
	[Customer_Address] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[Customer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Factories]    Script Date: 11/20/2017 1:01:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factories](
	[Factory_Id] [int] IDENTITY(1,1) NOT NULL,
	[Factory_Name] [nvarchar](max) NOT NULL,
	[Factory_Code] [nvarchar](max) NOT NULL,
	[Factory_Number] [nvarchar](max) NOT NULL,
	[Factory_BankName] [nvarchar](max) NOT NULL,
	[Factory_ACcountNo] [nvarchar](max) NOT NULL,
	[Factory_Address] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Factories] PRIMARY KEY CLUSTERED 
(
	[Factory_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Opening_ClosingDays]    Script Date: 11/20/2017 1:01:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Opening_ClosingDays](
	[Opening_ClosingDays_id] [int] IDENTITY(1,1) NOT NULL,
	[Opening_Balance] [decimal](18, 2) NOT NULL,
	[Closing_Balance] [decimal](18, 2) NOT NULL,
	[Date] [datetime] NOT NULL,
	[isClosed] [bit] NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Opening_ClosingDays] PRIMARY KEY CLUSTERED 
(
	[Opening_ClosingDays_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Packings]    Script Date: 11/20/2017 1:01:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Packings](
	[Packing_Id] [int] IDENTITY(1,1) NOT NULL,
	[Packing_Type] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Packings] PRIMARY KEY CLUSTERED 
(
	[Packing_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Parties]    Script Date: 11/20/2017 1:01:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parties](
	[Party_Id] [int] IDENTITY(1,1) NOT NULL,
	[Party_Name] [nvarchar](max) NOT NULL,
	[Party_Code] [nvarchar](max) NOT NULL,
	[Party_MobileNo] [nvarchar](max) NOT NULL,
	[Party_BankName] [nvarchar](max) NOT NULL,
	[Party_ACcountNo] [nvarchar](max) NOT NULL,
	[Party_Address] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Parties] PRIMARY KEY CLUSTERED 
(
	[Party_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pricings]    Script Date: 11/20/2017 1:01:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pricings](
	[Pricing_id] [int] IDENTITY(1,1) NOT NULL,
	[item_id] [int] NOT NULL,
	[item_Type] [nvarchar](max) NULL,
	[Pricing_Total] [decimal](18, 2) NOT NULL,
	[PerBagPrice] [decimal](18, 2) NOT NULL,
	[Pricing_NetTotal] [decimal](18, 2) NOT NULL,
	[Pricing_Date] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
	[Pricing_Rate_kg] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[Pricing_Rate_Maan] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[PerBagMarketPrice] [decimal](18, 2) NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.Pricings] PRIMARY KEY CLUSTERED 
(
	[Pricing_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Production_Extra_Rice]    Script Date: 11/20/2017 1:01:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Production_Extra_Rice](
	[Production_Extra_Rice_id] [int] IDENTITY(1,1) NOT NULL,
	[Rice_Production_id] [int] NOT NULL,
	[Extra_Rice] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Production_Extra_Rice] PRIMARY KEY CLUSTERED 
(
	[Production_Extra_Rice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Production_Rice]    Script Date: 11/20/2017 1:01:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Production_Rice](
	[Production_Rice_id] [int] IDENTITY(1,1) NOT NULL,
	[Rice_Production_id] [int] NOT NULL,
	[RawRice_id] [int] NOT NULL,
	[Purchase_Rice_Rate] [decimal](18, 2) NOT NULL,
	[Purchase_Rice_BagsUsed] [int] NOT NULL,
	[Packing_Id] [int] NOT NULL,
	[Total_Weight] [decimal](18, 2) NOT NULL,
	[Total_Worth] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Production_Rice] PRIMARY KEY CLUSTERED 
(
	[Production_Rice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RawRiceExpenses]    Script Date: 11/20/2017 1:01:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RawRiceExpenses](
	[RawRiceExpense_id] [int] IDENTITY(1,1) NOT NULL,
	[RawRiceExpense_Name] [nvarchar](max) NULL,
	[RawRiceExpense_Amount] [decimal](18, 2) NOT NULL,
	[RawRice_id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.RawRiceExpenses] PRIMARY KEY CLUSTERED 
(
	[RawRiceExpense_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RawRices]    Script Date: 11/20/2017 1:01:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RawRices](
	[RawRice_id] [int] IDENTITY(1,1) NOT NULL,
	[Party_Id] [int] NOT NULL,
	[Broker_Id] [int] NOT NULL,
	[Rice_category_Id] [int] NOT NULL,
	[Item_Name] [nvarchar](max) NOT NULL,
	[Item_Code] [nvarchar](max) NOT NULL,
	[Packing_Id] [int] NOT NULL,
	[Bags_qty] [int] NOT NULL,
	[Bags_Sold_qty] [int] NOT NULL,
	[Total_Weight] [decimal](18, 2) NOT NULL,
	[Total_Mann] [decimal](18, 2) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.RawRices] PRIMARY KEY CLUSTERED 
(
	[RawRice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rice_Category]    Script Date: 11/20/2017 1:01:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rice_Category](
	[Rice_category_Id] [int] IDENTITY(1,1) NOT NULL,
	[Rice_Category_Name] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Rice_Category] PRIMARY KEY CLUSTERED 
(
	[Rice_category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rice_Production]    Script Date: 11/20/2017 1:01:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rice_Production](
	[Rice_Production_id] [int] IDENTITY(1,1) NOT NULL,
	[Rice_Production_name] [nvarchar](max) NULL,
	[Rice_Production_Code] [nvarchar](max) NULL,
	[Packing_Id] [int] NOT NULL,
	[Rice_Production_TotalRate] [decimal](18, 2) NOT NULL,
	[Rice_Production_TotalBags] [int] NOT NULL,
	[Rice_Production_Bags] [int] NOT NULL,
	[Rice_Production_TotalWieght] [decimal](18, 2) NOT NULL,
	[Rice_Production_Average] [decimal](18, 2) NOT NULL,
	[Rice_Production_TotalWorth] [decimal](18, 2) NOT NULL,
	[Rice_Production_ShortFall_total] [decimal](18, 2) NOT NULL,
	[Rice_Production_TotalExpense] [decimal](18, 2) NOT NULL,
	[Rice_Production_StockWorth] [decimal](18, 2) NOT NULL,
	[Rice_Production_TotalByProductWorth] [decimal](18, 2) NOT NULL,
	[FactoryCost] [decimal](18, 2) NOT NULL,
	[Rice_Production_perBagPrice] [decimal](18, 2) NOT NULL,
	[Rice_Production_Date] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Rice_Production] PRIMARY KEY CLUSTERED 
(
	[Rice_Production_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rice_Production_Expense]    Script Date: 11/20/2017 1:01:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rice_Production_Expense](
	[Rice_Production_Expense_id] [int] IDENTITY(1,1) NOT NULL,
	[Rice_Production_id] [int] NOT NULL,
	[Rice_Production_Expense_name] [nvarchar](max) NULL,
	[Rice_Production_Expense_Amount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Rice_Production_Expense] PRIMARY KEY CLUSTERED 
(
	[Rice_Production_Expense_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rice_Production_ProductWorth]    Script Date: 11/20/2017 1:01:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rice_Production_ProductWorth](
	[Rice_Production_ProductWorth_id] [int] IDENTITY(1,1) NOT NULL,
	[Rice_Production_id] [int] NOT NULL,
	[Rice_Production_ProductWorth_name] [nvarchar](max) NULL,
	[Rice_Production_ProductWorth_Amount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Rice_Production_ProductWorth] PRIMARY KEY CLUSTERED 
(
	[Rice_Production_ProductWorth_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rice_Production_ShortFall]    Script Date: 11/20/2017 1:01:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rice_Production_ShortFall](
	[Rice_Production_ShortFall_id] [int] IDENTITY(1,1) NOT NULL,
	[Rice_Production_id] [int] NOT NULL,
	[Rice_Production_ShortFall_name] [nvarchar](max) NULL,
	[Rice_Production_ShortFall_Amount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Rice_Production_ShortFall] PRIMARY KEY CLUSTERED 
(
	[Rice_Production_ShortFall_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Shops]    Script Date: 11/20/2017 1:01:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shops](
	[Shop_Id] [int] IDENTITY(1,1) NOT NULL,
	[Shop_Name] [nvarchar](max) NOT NULL,
	[Shop_Code] [nvarchar](max) NOT NULL,
	[Shop_MobileNo] [nvarchar](max) NOT NULL,
	[Shop_BankName] [nvarchar](max) NOT NULL,
	[Shop_ACcountNo] [nvarchar](max) NOT NULL,
	[Shop_Address] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Shops] PRIMARY KEY CLUSTERED 
(
	[Shop_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 11/20/2017 1:01:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[Transaction_item_id] [int] NOT NULL,
	[Transaction_item_type] [nvarchar](max) NULL,
	[Transaction_Description] [nvarchar](max) NULL,
	[isByCash] [bit] NOT NULL,
	[BankAccountNo] [nvarchar](max) NULL,
	[checkno] [int] NOT NULL,
	[Debit] [decimal](18, 2) NOT NULL,
	[Credit] [decimal](18, 2) NOT NULL,
	[Transaction_DateTime] [datetime] NOT NULL,
	[Opening_ClosingDays_id] [int] NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Transactions] PRIMARY KEY CLUSTERED 
(
	[Transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Brokers] ON 

INSERT [dbo].[Brokers] ([Broker_Id], [Broker_Name], [Broker_Code], [Broker_MobileNo], [Broker_BankName], [Broker_ACcountNo], [Broker_Address], [Status]) VALUES (1, N'Ahsan', N'Waleed1234', N'03241488970', N'Habib Bank', N'123456', N'sdafdasf', 1)
SET IDENTITY_INSERT [dbo].[Brokers] OFF
SET IDENTITY_INSERT [dbo].[Opening_ClosingDays] ON 

INSERT [dbo].[Opening_ClosingDays] ([Opening_ClosingDays_id], [Opening_Balance], [Closing_Balance], [Date], [isClosed], [status]) VALUES (1, CAST(1000000.00 AS Decimal(18, 2)), CAST(762300.00 AS Decimal(18, 2)), CAST(N'2017-11-10 10:41:44.277' AS DateTime), 1, 1)
INSERT [dbo].[Opening_ClosingDays] ([Opening_ClosingDays_id], [Opening_Balance], [Closing_Balance], [Date], [isClosed], [status]) VALUES (2, CAST(762300.00 AS Decimal(18, 2)), CAST(762300.00 AS Decimal(18, 2)), CAST(N'2017-11-12 22:47:15.913' AS DateTime), 1, 1)
INSERT [dbo].[Opening_ClosingDays] ([Opening_ClosingDays_id], [Opening_Balance], [Closing_Balance], [Date], [isClosed], [status]) VALUES (3, CAST(762300.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2017-11-14 20:11:45.043' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[Opening_ClosingDays] OFF
SET IDENTITY_INSERT [dbo].[Packings] ON 

INSERT [dbo].[Packings] ([Packing_Id], [Packing_Type]) VALUES (1, 25)
INSERT [dbo].[Packings] ([Packing_Id], [Packing_Type]) VALUES (2, 50)
SET IDENTITY_INSERT [dbo].[Packings] OFF
SET IDENTITY_INSERT [dbo].[Parties] ON 

INSERT [dbo].[Parties] ([Party_Id], [Party_Name], [Party_Code], [Party_MobileNo], [Party_BankName], [Party_ACcountNo], [Party_Address], [Status]) VALUES (1, N'Jalal Sons', N'J54', N'03231234567', N'Bank Al-falah', N'12345667', N'21-c shalamar link road opposite shalamr hospital lahore', 1)
INSERT [dbo].[Parties] ([Party_Id], [Party_Name], [Party_Code], [Party_MobileNo], [Party_BankName], [Party_ACcountNo], [Party_Address], [Status]) VALUES (2, N'Kashmiris', N'k4', N'03231234543', N'Meezan', N'12345667', N'sdfasas', 1)
SET IDENTITY_INSERT [dbo].[Parties] OFF
SET IDENTITY_INSERT [dbo].[Pricings] ON 

INSERT [dbo].[Pricings] ([Pricing_id], [item_id], [item_Type], [Pricing_Total], [PerBagPrice], [Pricing_NetTotal], [Pricing_Date], [Status], [Pricing_Rate_kg], [Pricing_Rate_Maan], [PerBagMarketPrice]) VALUES (1, 1, N'RawRice', CAST(137500.00 AS Decimal(18, 2)), CAST(2750.00 AS Decimal(18, 2)), CAST(137600.00 AS Decimal(18, 2)), CAST(N'2017-11-10 10:50:07.797' AS DateTime), 1, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(3000.00 AS Decimal(18, 2)))
INSERT [dbo].[Pricings] ([Pricing_id], [item_id], [item_Type], [Pricing_Total], [PerBagPrice], [Pricing_NetTotal], [Pricing_Date], [Status], [Pricing_Rate_kg], [Pricing_Rate_Maan], [PerBagMarketPrice]) VALUES (2, 2, N'RawRice', CAST(100000.00 AS Decimal(18, 2)), CAST(2500.00 AS Decimal(18, 2)), CAST(100100.00 AS Decimal(18, 2)), CAST(N'2017-11-10 10:51:18.877' AS DateTime), 1, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(3000.00 AS Decimal(18, 2)))
INSERT [dbo].[Pricings] ([Pricing_id], [item_id], [item_Type], [Pricing_Total], [PerBagPrice], [Pricing_NetTotal], [Pricing_Date], [Status], [Pricing_Rate_kg], [Pricing_Rate_Maan], [PerBagMarketPrice]) VALUES (3, 3, N'RawRice', CAST(135000.00 AS Decimal(18, 2)), CAST(2250.00 AS Decimal(18, 2)), CAST(134900.00 AS Decimal(18, 2)), CAST(N'2017-11-15 01:16:12.830' AS DateTime), 1, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(3000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Pricings] OFF
SET IDENTITY_INSERT [dbo].[Production_Rice] ON 

INSERT [dbo].[Production_Rice] ([Production_Rice_id], [Rice_Production_id], [RawRice_id], [Purchase_Rice_Rate], [Purchase_Rice_BagsUsed], [Packing_Id], [Total_Weight], [Total_Worth]) VALUES (2, 2, 1, CAST(2750.00 AS Decimal(18, 2)), 34, 25, CAST(850.00 AS Decimal(18, 2)), CAST(93500.00 AS Decimal(18, 2)))
INSERT [dbo].[Production_Rice] ([Production_Rice_id], [Rice_Production_id], [RawRice_id], [Purchase_Rice_Rate], [Purchase_Rice_BagsUsed], [Packing_Id], [Total_Weight], [Total_Worth]) VALUES (3, 2, 2, CAST(2500.00 AS Decimal(18, 2)), 32, 25, CAST(800.00 AS Decimal(18, 2)), CAST(80000.00 AS Decimal(18, 2)))
INSERT [dbo].[Production_Rice] ([Production_Rice_id], [Rice_Production_id], [RawRice_id], [Purchase_Rice_Rate], [Purchase_Rice_BagsUsed], [Packing_Id], [Total_Weight], [Total_Worth]) VALUES (4, 3, 1, CAST(2750.00 AS Decimal(18, 2)), 40, 25, CAST(1000.00 AS Decimal(18, 2)), CAST(110000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Production_Rice] OFF
SET IDENTITY_INSERT [dbo].[RawRiceExpenses] ON 

INSERT [dbo].[RawRiceExpenses] ([RawRiceExpense_id], [RawRiceExpense_Name], [RawRiceExpense_Amount], [RawRice_id]) VALUES (1, N'carriage', CAST(100.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[RawRiceExpenses] ([RawRiceExpense_id], [RawRiceExpense_Name], [RawRiceExpense_Amount], [RawRice_id]) VALUES (2, N'carriage', CAST(100.00 AS Decimal(18, 2)), 2)
INSERT [dbo].[RawRiceExpenses] ([RawRiceExpense_id], [RawRiceExpense_Name], [RawRiceExpense_Amount], [RawRice_id]) VALUES (3, N'sda', CAST(100.00 AS Decimal(18, 2)), 3)
SET IDENTITY_INSERT [dbo].[RawRiceExpenses] OFF
SET IDENTITY_INSERT [dbo].[RawRices] ON 

INSERT [dbo].[RawRices] ([RawRice_id], [Party_Id], [Broker_Id], [Rice_category_Id], [Item_Name], [Item_Code], [Packing_Id], [Bags_qty], [Bags_Sold_qty], [Total_Weight], [Total_Mann], [Date], [Status]) VALUES (1, 1, 1, 2, N'Kainat', N'k23', 1, 50, 0, CAST(1250.00 AS Decimal(18, 2)), CAST(31.25 AS Decimal(18, 2)), CAST(N'2017-11-10 10:50:07.757' AS DateTime), 1)
INSERT [dbo].[RawRices] ([RawRice_id], [Party_Id], [Broker_Id], [Rice_category_Id], [Item_Name], [Item_Code], [Packing_Id], [Bags_qty], [Bags_Sold_qty], [Total_Weight], [Total_Mann], [Date], [Status]) VALUES (2, 1, 1, 2, N'kernal', N'K45', 1, 40, 0, CAST(1000.00 AS Decimal(18, 2)), CAST(25.00 AS Decimal(18, 2)), CAST(N'2017-11-10 10:51:18.853' AS DateTime), 1)
INSERT [dbo].[RawRices] ([RawRice_id], [Party_Id], [Broker_Id], [Rice_category_Id], [Item_Name], [Item_Code], [Packing_Id], [Bags_qty], [Bags_Sold_qty], [Total_Weight], [Total_Mann], [Date], [Status]) VALUES (3, 2, 1, 1, N'Basmati', N'b64', 1, 60, 0, CAST(1500.00 AS Decimal(18, 2)), CAST(37.50 AS Decimal(18, 2)), CAST(N'2017-11-15 01:16:12.527' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[RawRices] OFF
SET IDENTITY_INSERT [dbo].[Rice_Category] ON 

INSERT [dbo].[Rice_Category] ([Rice_category_Id], [Rice_Category_Name], [Status]) VALUES (1, N'Pohnch', 1)
INSERT [dbo].[Rice_Category] ([Rice_category_Id], [Rice_Category_Name], [Status]) VALUES (2, N'Chukwa', 1)
INSERT [dbo].[Rice_Category] ([Rice_category_Id], [Rice_Category_Name], [Status]) VALUES (3, N'Load', 1)
SET IDENTITY_INSERT [dbo].[Rice_Category] OFF
SET IDENTITY_INSERT [dbo].[Rice_Production] ON 

SET IDENTITY_INSERT [dbo].[Rice_Production] OFF
SET IDENTITY_INSERT [dbo].[Rice_Production_Expense] ON 

INSERT [dbo].[Rice_Production_Expense] ([Rice_Production_Expense_id], [Rice_Production_id], [Rice_Production_Expense_name], [Rice_Production_Expense_Amount]) VALUES (1, 2, N'sdad', CAST(231.00 AS Decimal(18, 2)))
INSERT [dbo].[Rice_Production_Expense] ([Rice_Production_Expense_id], [Rice_Production_id], [Rice_Production_Expense_name], [Rice_Production_Expense_Amount]) VALUES (2, 3, N'testing 1', CAST(600.00 AS Decimal(18, 2)))
INSERT [dbo].[Rice_Production_Expense] ([Rice_Production_Expense_id], [Rice_Production_id], [Rice_Production_Expense_name], [Rice_Production_Expense_Amount]) VALUES (3, 3, N'testing 2', CAST(400.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Rice_Production_Expense] OFF
SET IDENTITY_INSERT [dbo].[Rice_Production_ProductWorth] ON 

INSERT [dbo].[Rice_Production_ProductWorth] ([Rice_Production_ProductWorth_id], [Rice_Production_id], [Rice_Production_ProductWorth_name], [Rice_Production_ProductWorth_Amount]) VALUES (1, 2, N'ds', CAST(23.00 AS Decimal(18, 2)))
INSERT [dbo].[Rice_Production_ProductWorth] ([Rice_Production_ProductWorth_id], [Rice_Production_id], [Rice_Production_ProductWorth_name], [Rice_Production_ProductWorth_Amount]) VALUES (2, 3, N'testing ', CAST(100.00 AS Decimal(18, 2)))
INSERT [dbo].[Rice_Production_ProductWorth] ([Rice_Production_ProductWorth_id], [Rice_Production_id], [Rice_Production_ProductWorth_name], [Rice_Production_ProductWorth_Amount]) VALUES (3, 4, N'b1', CAST(100.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Rice_Production_ProductWorth] OFF
SET IDENTITY_INSERT [dbo].[Rice_Production_ShortFall] ON 

INSERT [dbo].[Rice_Production_ShortFall] ([Rice_Production_ShortFall_id], [Rice_Production_id], [Rice_Production_ShortFall_name], [Rice_Production_ShortFall_Amount]) VALUES (1, 2, N'sda', CAST(2.00 AS Decimal(18, 2)))
INSERT [dbo].[Rice_Production_ShortFall] ([Rice_Production_ShortFall_id], [Rice_Production_id], [Rice_Production_ShortFall_name], [Rice_Production_ShortFall_Amount]) VALUES (2, 3, N'testing 1', CAST(1.00 AS Decimal(18, 2)))
INSERT [dbo].[Rice_Production_ShortFall] ([Rice_Production_ShortFall_id], [Rice_Production_id], [Rice_Production_ShortFall_name], [Rice_Production_ShortFall_Amount]) VALUES (3, 3, N'testing 2', CAST(1.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Rice_Production_ShortFall] OFF
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([Transaction_id], [Transaction_item_id], [Transaction_item_type], [Transaction_Description], [isByCash], [BankAccountNo], [checkno], [Debit], [Credit], [Transaction_DateTime], [Opening_ClosingDays_id], [status]) VALUES (1, 1, N'RawRice', N'Purchase Kainat from Party Jalal Sons', 1, N'', 0, CAST(137600.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2017-11-10 10:50:07.807' AS DateTime), 1, 1)
INSERT [dbo].[Transactions] ([Transaction_id], [Transaction_item_id], [Transaction_item_type], [Transaction_Description], [isByCash], [BankAccountNo], [checkno], [Debit], [Credit], [Transaction_DateTime], [Opening_ClosingDays_id], [status]) VALUES (2, 2, N'RawRice', N'Purchase kernal from Party Jalal Sons', 1, N'', 0, CAST(100100.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2017-11-10 10:51:18.893' AS DateTime), 1, 1)
INSERT [dbo].[Transactions] ([Transaction_id], [Transaction_item_id], [Transaction_item_type], [Transaction_Description], [isByCash], [BankAccountNo], [checkno], [Debit], [Credit], [Transaction_DateTime], [Opening_ClosingDays_id], [status]) VALUES (3, 3, N'RawRice', N'Purchase Basmati from Party Kashmiris', 0, N'12345667', 232424, CAST(100000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2017-11-15 01:16:12.857' AS DateTime), 5, 1)
SET IDENTITY_INSERT [dbo].[Transactions] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 11/20/2017 1:01:36 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 11/20/2017 1:01:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 11/20/2017 1:01:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 11/20/2017 1:01:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 11/20/2017 1:01:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 11/20/2017 1:01:36 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rice_Production_id]    Script Date: 11/20/2017 1:01:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_Rice_Production_id] ON [dbo].[Production_Extra_Rice]
(
	[Rice_Production_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RawRice_id]    Script Date: 11/20/2017 1:01:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_RawRice_id] ON [dbo].[Production_Rice]
(
	[RawRice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rice_Production_id]    Script Date: 11/20/2017 1:01:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_Rice_Production_id] ON [dbo].[Production_Rice]
(
	[Rice_Production_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RawRice_id]    Script Date: 11/20/2017 1:01:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_RawRice_id] ON [dbo].[RawRiceExpenses]
(
	[RawRice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Broker_Id]    Script Date: 11/20/2017 1:01:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_Broker_Id] ON [dbo].[RawRices]
(
	[Broker_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Packing_Id]    Script Date: 11/20/2017 1:01:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_Packing_Id] ON [dbo].[RawRices]
(
	[Packing_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Party_Id]    Script Date: 11/20/2017 1:01:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_Party_Id] ON [dbo].[RawRices]
(
	[Party_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rice_category_Id]    Script Date: 11/20/2017 1:01:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_Rice_category_Id] ON [dbo].[RawRices]
(
	[Rice_category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Packing_Id]    Script Date: 11/20/2017 1:01:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_Packing_Id] ON [dbo].[Rice_Production]
(
	[Packing_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rice_Production_id]    Script Date: 11/20/2017 1:01:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_Rice_Production_id] ON [dbo].[Rice_Production_Expense]
(
	[Rice_Production_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rice_Production_id]    Script Date: 11/20/2017 1:01:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_Rice_Production_id] ON [dbo].[Rice_Production_ProductWorth]
(
	[Rice_Production_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rice_Production_id]    Script Date: 11/20/2017 1:01:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_Rice_Production_id] ON [dbo].[Rice_Production_ShortFall]
(
	[Rice_Production_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Opening_ClosingDays_id]    Script Date: 11/20/2017 1:01:36 AM ******/
CREATE NONCLUSTERED INDEX [IX_Opening_ClosingDays_id] ON [dbo].[Transactions]
(
	[Opening_ClosingDays_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Production_Extra_Rice]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Production_Extra_Rice_dbo.Rice_Production_Rice_Production_id] FOREIGN KEY([Rice_Production_id])
REFERENCES [dbo].[Rice_Production] ([Rice_Production_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Production_Extra_Rice] CHECK CONSTRAINT [FK_dbo.Production_Extra_Rice_dbo.Rice_Production_Rice_Production_id]
GO
ALTER TABLE [dbo].[Production_Rice]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Production_Rice_dbo.RawRices_RawRice_id] FOREIGN KEY([RawRice_id])
REFERENCES [dbo].[RawRices] ([RawRice_id])
GO
ALTER TABLE [dbo].[Production_Rice] CHECK CONSTRAINT [FK_dbo.Production_Rice_dbo.RawRices_RawRice_id]
GO
ALTER TABLE [dbo].[Production_Rice]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Production_Rice_dbo.Rice_Production_Rice_Production_id] FOREIGN KEY([Rice_Production_id])
REFERENCES [dbo].[Rice_Production] ([Rice_Production_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Production_Rice] CHECK CONSTRAINT [FK_dbo.Production_Rice_dbo.Rice_Production_Rice_Production_id]
GO
ALTER TABLE [dbo].[RawRiceExpenses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RawRiceExpenses_dbo.RawRices_RawRice_id] FOREIGN KEY([RawRice_id])
REFERENCES [dbo].[RawRices] ([RawRice_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RawRiceExpenses] CHECK CONSTRAINT [FK_dbo.RawRiceExpenses_dbo.RawRices_RawRice_id]
GO
ALTER TABLE [dbo].[RawRices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RawRices_dbo.Brokers_Broker_Id] FOREIGN KEY([Broker_Id])
REFERENCES [dbo].[Brokers] ([Broker_Id])
GO
ALTER TABLE [dbo].[RawRices] CHECK CONSTRAINT [FK_dbo.RawRices_dbo.Brokers_Broker_Id]
GO
ALTER TABLE [dbo].[RawRices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RawRices_dbo.Packings_Packing_Id] FOREIGN KEY([Packing_Id])
REFERENCES [dbo].[Packings] ([Packing_Id])
GO
ALTER TABLE [dbo].[RawRices] CHECK CONSTRAINT [FK_dbo.RawRices_dbo.Packings_Packing_Id]
GO
ALTER TABLE [dbo].[RawRices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RawRices_dbo.Parties_Party_Id] FOREIGN KEY([Party_Id])
REFERENCES [dbo].[Parties] ([Party_Id])
GO
ALTER TABLE [dbo].[RawRices] CHECK CONSTRAINT [FK_dbo.RawRices_dbo.Parties_Party_Id]
GO
ALTER TABLE [dbo].[RawRices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RawRices_dbo.Rice_Category_Rice_category_Id] FOREIGN KEY([Rice_category_Id])
REFERENCES [dbo].[Rice_Category] ([Rice_category_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RawRices] CHECK CONSTRAINT [FK_dbo.RawRices_dbo.Rice_Category_Rice_category_Id]
GO
ALTER TABLE [dbo].[Rice_Production]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rice_Production_dbo.Packings_Packing_Id] FOREIGN KEY([Packing_Id])
REFERENCES [dbo].[Packings] ([Packing_Id])
GO
ALTER TABLE [dbo].[Rice_Production] CHECK CONSTRAINT [FK_dbo.Rice_Production_dbo.Packings_Packing_Id]
GO
ALTER TABLE [dbo].[Rice_Production_Expense]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rice_Production_Expense_dbo.Rice_Production_Rice_Production_id] FOREIGN KEY([Rice_Production_id])
REFERENCES [dbo].[Rice_Production] ([Rice_Production_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rice_Production_Expense] CHECK CONSTRAINT [FK_dbo.Rice_Production_Expense_dbo.Rice_Production_Rice_Production_id]
GO
ALTER TABLE [dbo].[Rice_Production_ProductWorth]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rice_Production_ProductWorth_dbo.Rice_Production_Rice_Production_id] FOREIGN KEY([Rice_Production_id])
REFERENCES [dbo].[Rice_Production] ([Rice_Production_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rice_Production_ProductWorth] CHECK CONSTRAINT [FK_dbo.Rice_Production_ProductWorth_dbo.Rice_Production_Rice_Production_id]
GO
ALTER TABLE [dbo].[Rice_Production_ShortFall]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rice_Production_ShortFall_dbo.Rice_Production_Rice_Production_id] FOREIGN KEY([Rice_Production_id])
REFERENCES [dbo].[Rice_Production] ([Rice_Production_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rice_Production_ShortFall] CHECK CONSTRAINT [FK_dbo.Rice_Production_ShortFall_dbo.Rice_Production_Rice_Production_id]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Transactions_dbo.Opening_ClosingDays_Opening_ClosingDays_id] FOREIGN KEY([Opening_ClosingDays_id])
REFERENCES [dbo].[Opening_ClosingDays] ([Opening_ClosingDays_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_dbo.Transactions_dbo.Opening_ClosingDays_Opening_ClosingDays_id]
GO
USE [master]
GO
