USE [master]
GO
/****** Object:  Database [DHMRice]    Script Date: 1/25/2018 7:04:25 AM ******/
CREATE DATABASE [DHMRice]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DHMRice', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DHMRice.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DHMRice_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DHMRice_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DHMRice].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DHMRice]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1/25/2018 7:04:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[MobileNo] [nvarchar](max) NULL,
	[User_Cnic] [nvarchar](max) NULL,
	[User_Adress] [nvarchar](max) NULL,
	[ShopCrendital] [bit] NOT NULL,
	[FactroryCrendital] [bit] NOT NULL,
	[Status] [bit] NOT NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Brokers]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brokers](
	[Broker_Id] [int] IDENTITY(1,1) NOT NULL,
	[Id] [nvarchar](128) NULL,
	[Broker_Name] [nvarchar](max) NOT NULL,
	[Broker_Code] [nvarchar](max) NULL,
	[Broker_MobileNo] [nvarchar](max) NULL,
	[Broker_BankName] [nvarchar](max) NULL,
	[Broker_ACcountNo] [nvarchar](max) NULL,
	[Broker_Address] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Brokers] PRIMARY KEY CLUSTERED 
(
	[Broker_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customers]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Customer_Id] [int] IDENTITY(1,1) NOT NULL,
	[Customer_Name] [nvarchar](max) NOT NULL,
	[Id] [nvarchar](128) NULL,
	[Customer_Code] [nvarchar](max) NOT NULL,
	[Customer_MobileNo] [nvarchar](max) NOT NULL,
	[Customer_BankName] [nvarchar](max) NOT NULL,
	[Customer_ACcountNo] [nvarchar](max) NOT NULL,
	[Customer_Address] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[Customer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Factories]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factories](
	[Factory_Id] [int] IDENTITY(1,1) NOT NULL,
	[Factory_Name] [nvarchar](max) NOT NULL,
	[Id] [nvarchar](128) NULL,
	[Factory_Code] [nvarchar](max) NULL,
	[Factory_Number] [nvarchar](max) NOT NULL,
	[Factory_BankName] [nvarchar](max) NOT NULL,
	[Factory_ACcountNo] [nvarchar](max) NOT NULL,
	[Factory_Address] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Factories] PRIMARY KEY CLUSTERED 
(
	[Factory_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GatePassInwareds]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GatePassInwareds](
	[GatePassInwaredId] [int] IDENTITY(1,1) NOT NULL,
	[RawRice_id] [int] NOT NULL,
	[Vehicle_No] [nvarchar](max) NULL,
	[Driver_Name] [nvarchar](max) NULL,
	[Bility_No] [int] NOT NULL,
	[Purchased_By] [nvarchar](max) NULL,
	[Designation] [nvarchar](max) NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.GatePassInwareds] PRIMARY KEY CLUSTERED 
(
	[GatePassInwaredId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Opening_ClosingDays]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Opening_ClosingDays](
	[Opening_ClosingDays_id] [int] IDENTITY(1,1) NOT NULL,
	[Opening_Balance] [decimal](18, 2) NOT NULL,
	[Closing_Balance] [decimal](18, 2) NOT NULL,
	[Date] [datetime] NOT NULL,
	[isClosed] [bit] NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Opening_ClosingDays] PRIMARY KEY CLUSTERED 
(
	[Opening_ClosingDays_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Opening_ClosingDays_Shop]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Opening_ClosingDays_Shop](
	[Opening_ClosingDays_Shop_id] [int] IDENTITY(1,1) NOT NULL,
	[Opening_Balance] [decimal](18, 2) NOT NULL,
	[Closing_Balance] [decimal](18, 2) NOT NULL,
	[Date] [datetime] NOT NULL,
	[isClosed] [bit] NOT NULL,
	[Shop_Id] [int] NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Opening_ClosingDays_Shop] PRIMARY KEY CLUSTERED 
(
	[Opening_ClosingDays_Shop_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Packings]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Packings](
	[Packing_Id] [int] IDENTITY(1,1) NOT NULL,
	[Id] [nvarchar](128) NULL,
	[Packing_Type] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Packings] PRIMARY KEY CLUSTERED 
(
	[Packing_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Parties]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parties](
	[Party_Id] [int] IDENTITY(1,1) NOT NULL,
	[Id] [nvarchar](128) NULL,
	[Party_Name] [nvarchar](max) NOT NULL,
	[Party_Code] [nvarchar](max) NULL,
	[Party_MobileNo] [nvarchar](max) NOT NULL,
	[Party_BankName] [nvarchar](max) NULL,
	[Party_ACcountNo] [nvarchar](max) NULL,
	[Party_Address] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Parties] PRIMARY KEY CLUSTERED 
(
	[Party_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pricings]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pricings](
	[Pricing_id] [int] IDENTITY(1,1) NOT NULL,
	[item_id] [int] NOT NULL,
	[item_Type] [nvarchar](max) NULL,
	[Pricing_Rate_kg] [decimal](18, 2) NOT NULL,
	[Pricing_Rate_Maan] [decimal](18, 2) NOT NULL,
	[Pricing_Total] [decimal](18, 2) NOT NULL,
	[PerBagPrice] [decimal](18, 2) NOT NULL,
	[PerBagMarketPrice] [decimal](18, 2) NOT NULL,
	[Pricing_NetTotal] [decimal](18, 2) NOT NULL,
	[Pricing_Date] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Pricings] PRIMARY KEY CLUSTERED 
(
	[Pricing_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProducedRiceSales_ch]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProducedRiceSales_ch](
	[prsc_id] [int] IDENTITY(1,1) NOT NULL,
	[prsc_title] [nvarchar](max) NULL,
	[Rice_Production_id] [int] NOT NULL,
	[prsc_qty] [int] NOT NULL,
	[prsc_Weight_kg] [decimal](18, 2) NOT NULL,
	[prsc_Weight_mann] [decimal](18, 2) NOT NULL,
	[prsc_price] [decimal](18, 2) NOT NULL,
	[prsp_id] [int] NOT NULL,
	[prsc_status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ProducedRiceSales_ch] PRIMARY KEY CLUSTERED 
(
	[prsc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProducedRiceSales_pt]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProducedRiceSales_pt](
	[prsp_id] [int] IDENTITY(1,1) NOT NULL,
	[prsp_Title] [nvarchar](max) NULL,
	[prsp_date] [datetime] NOT NULL,
	[Party_Id] [int] NOT NULL,
	[Id] [nvarchar](128) NULL,
	[prsp_TotalWeight_KG] [decimal](18, 2) NOT NULL,
	[prsp_TotalWeight_Mann] [decimal](18, 2) NOT NULL,
	[prsp_Total_Amount] [decimal](18, 2) NOT NULL,
	[prsp_status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ProducedRiceSales_pt] PRIMARY KEY CLUSTERED 
(
	[prsp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Production_Extra_Rice]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Production_Extra_Rice](
	[Production_Extra_Rice_id] [int] IDENTITY(1,1) NOT NULL,
	[Rice_Produce_Bags_id] [int] NOT NULL,
	[Extra_Rice] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Production_Extra_Rice] PRIMARY KEY CLUSTERED 
(
	[Production_Extra_Rice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Production_Rice]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Production_Rice](
	[Production_Rice_id] [int] IDENTITY(1,1) NOT NULL,
	[Rice_Produce_Bags_id] [int] NOT NULL,
	[RawRice_id] [int] NOT NULL,
	[Purchase_Rice_Rate] [decimal](18, 2) NOT NULL,
	[Purchase_Rice_BagsUsed] [int] NOT NULL,
	[Packing_Id] [int] NOT NULL,
	[Total_Weight] [decimal](18, 2) NOT NULL,
	[Total_Worth] [decimal](18, 2) NOT NULL,
	[Market_Worth] [decimal](18, 2) NOT NULL,
	[Market_Rate] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Production_Rice] PRIMARY KEY CLUSTERED 
(
	[Production_Rice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RawRice_Sales_ch]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RawRice_Sales_ch](
	[rsc_id] [int] IDENTITY(1,1) NOT NULL,
	[rsc_title] [nvarchar](max) NULL,
	[RawRice_id] [int] NOT NULL,
	[rsc_qty] [int] NOT NULL,
	[rsc_Weight_kg] [decimal](18, 2) NOT NULL,
	[rsc_Weight_mann] [decimal](18, 2) NOT NULL,
	[rsc_price] [decimal](18, 2) NOT NULL,
	[rsp_id] [int] NOT NULL,
	[rsc_status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.RawRice_Sales_ch] PRIMARY KEY CLUSTERED 
(
	[rsc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RawRice_Sales_pt]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RawRice_Sales_pt](
	[rsp_id] [int] IDENTITY(1,1) NOT NULL,
	[rsp_Title] [nvarchar](max) NULL,
	[rsp_date] [datetime] NOT NULL,
	[Party_Id] [int] NOT NULL,
	[rsp_TotalWeight_KG] [decimal](18, 2) NOT NULL,
	[rsp_TotalWeight_Mann] [decimal](18, 2) NOT NULL,
	[rsp_Total_Amount] [decimal](18, 2) NOT NULL,
	[rsp_status] [bit] NOT NULL,
	[Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.RawRice_Sales_pt] PRIMARY KEY CLUSTERED 
(
	[rsp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RawRiceExpenses]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RawRiceExpenses](
	[RawRiceExpense_id] [int] IDENTITY(1,1) NOT NULL,
	[RawRiceExpense_Name] [nvarchar](max) NULL,
	[RawRiceExpense_Amount] [decimal](18, 2) NOT NULL,
	[RawRice_id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.RawRiceExpenses] PRIMARY KEY CLUSTERED 
(
	[RawRiceExpense_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RawRices]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RawRices](
	[RawRice_id] [int] IDENTITY(1,1) NOT NULL,
	[Party_Id] [int] NOT NULL,
	[Id] [nvarchar](128) NOT NULL,
	[Broker_Id] [int] NOT NULL,
	[Rice_category_Id] [int] NOT NULL,
	[Item_Name] [nvarchar](max) NOT NULL,
	[Item_Code] [nvarchar](max) NOT NULL,
	[Packing_Id] [int] NOT NULL,
	[Bags_qty] [int] NOT NULL,
	[Bags_Sold_qty] [int] NOT NULL,
	[Total_Weight] [decimal](18, 2) NOT NULL,
	[Total_Mann] [decimal](18, 2) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.RawRices] PRIMARY KEY CLUSTERED 
(
	[RawRice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rice_Category]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rice_Category](
	[Rice_category_Id] [int] IDENTITY(1,1) NOT NULL,
	[Rice_Category_Name] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Rice_Category] PRIMARY KEY CLUSTERED 
(
	[Rice_category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rice_Produce_Bag]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rice_Produce_Bag](
	[Rice_Produce_Bags_id] [int] IDENTITY(1,1) NOT NULL,
	[Rice_Production_id] [int] NOT NULL,
	[Rice_Produce_TotalBags] [int] NOT NULL,
	[Rice_Produce_TotalBagsProduce] [int] NOT NULL,
	[Rice_Produce_BagsSold] [int] NOT NULL,
	[Rice_Produce_RemainingBags] [int] NOT NULL,
	[Rice_Produce_Bag_ShortFall_total] [decimal](18, 2) NOT NULL,
	[Rice_Produce_Bag_TotalExpenses] [decimal](18, 2) NOT NULL,
	[Rice_Produce_Bag_TotalBPW] [decimal](18, 2) NOT NULL,
	[Rice_Produce_Bag_TotalWorth] [decimal](18, 2) NOT NULL,
	[Rice_Produce_Bag_TotalMarketWorth] [decimal](18, 2) NOT NULL,
	[Rice_Produce_Bag_FactoryCost] [decimal](18, 2) NOT NULL,
	[Rice_Produce_Bag_MarketFactoryCost] [decimal](18, 2) NOT NULL,
	[Rice_Produce_Bag_StockWorth] [decimal](18, 2) NOT NULL,
	[Rice_Produce_Bag_MarketStockWorth] [decimal](18, 2) NOT NULL,
	[Rice_Produce_Bag_Average] [decimal](18, 2) NOT NULL,
	[Rice_Produce_Bag_MarketAverage] [decimal](18, 2) NOT NULL,
	[Rice_Produce_Bag_TotalWeight] [decimal](18, 2) NOT NULL,
	[Rice_Produce_Bag_PerBagPrice] [decimal](18, 2) NOT NULL,
	[Rice_Produce_Bag_TotalRawRate] [decimal](18, 2) NOT NULL,
	[Rice_Produce_Bag_TotalMarketRawRate] [decimal](18, 2) NOT NULL,
	[Rice_Produce_Bag_PerBagMarketPrice] [decimal](18, 2) NOT NULL,
	[Rice_Produce_Bag_Date] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Rice_Produce_Bag] PRIMARY KEY CLUSTERED 
(
	[Rice_Produce_Bags_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rice_Production]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rice_Production](
	[Rice_Production_id] [int] IDENTITY(1,1) NOT NULL,
	[Rice_Production_name] [nvarchar](max) NULL,
	[Rice_Production_Code] [nvarchar](max) NULL,
	[Id] [nvarchar](128) NULL,
	[Packing_Id] [int] NOT NULL,
	[Rice_Production_RemainingBags] [int] NOT NULL,
	[Rice_Production_Date] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Rice_Production] PRIMARY KEY CLUSTERED 
(
	[Rice_Production_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rice_Production_Expense]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rice_Production_Expense](
	[Rice_Production_Expense_id] [int] IDENTITY(1,1) NOT NULL,
	[Rice_Produce_Bags_id] [int] NOT NULL,
	[Rice_Production_Expense_name] [nvarchar](max) NULL,
	[Rice_Production_Expense_Amount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Rice_Production_Expense] PRIMARY KEY CLUSTERED 
(
	[Rice_Production_Expense_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rice_Production_ProductWorth]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rice_Production_ProductWorth](
	[Rice_Production_ProductWorth_id] [int] IDENTITY(1,1) NOT NULL,
	[Rice_Produce_Bags_id] [int] NOT NULL,
	[Rice_Production_ProductWorth_name] [nvarchar](max) NULL,
	[Rice_Production_ProductWorth_Amount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Rice_Production_ProductWorth] PRIMARY KEY CLUSTERED 
(
	[Rice_Production_ProductWorth_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rice_Production_ShortFall]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rice_Production_ShortFall](
	[Rice_Production_ShortFall_id] [int] IDENTITY(1,1) NOT NULL,
	[Rice_Produce_Bags_id] [int] NOT NULL,
	[Rice_Production_ShortFall_name] [nvarchar](max) NULL,
	[Rice_Production_ShortFall_Amount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Rice_Production_ShortFall] PRIMARY KEY CLUSTERED 
(
	[Rice_Production_ShortFall_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Shop_Account]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shop_Account](
	[Shop_AccountId] [int] IDENTITY(1,1) NOT NULL,
	[Shop_Id] [int] NOT NULL,
	[Shop_BankName] [nvarchar](max) NOT NULL,
	[Shop_ACcountNo] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Shop_Account] PRIMARY KEY CLUSTERED 
(
	[Shop_AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ShopRiceSales_ch]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopRiceSales_ch](
	[srsc_id] [int] IDENTITY(1,1) NOT NULL,
	[srsc_title] [nvarchar](max) NULL,
	[ShopStockId] [int] NOT NULL,
	[srsc_qty] [int] NOT NULL,
	[srsc_Weight_kg] [decimal](18, 2) NOT NULL,
	[srsc_Weight_mann] [decimal](18, 2) NOT NULL,
	[srsc_price] [decimal](18, 2) NOT NULL,
	[srsp_id] [int] NOT NULL,
	[srsc_status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ShopRiceSales_ch] PRIMARY KEY CLUSTERED 
(
	[srsc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ShopRiceSales_pt]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopRiceSales_pt](
	[srsp_id] [int] IDENTITY(1,1) NOT NULL,
	[srsp_Title] [nvarchar](max) NULL,
	[srsp_date] [datetime] NOT NULL,
	[Party_Id] [int] NOT NULL,
	[Id] [nvarchar](128) NULL,
	[Shop_Id] [int] NOT NULL,
	[srsp_TotalWeight_KG] [decimal](18, 2) NOT NULL,
	[srsp_TotalWeight_Mann] [decimal](18, 2) NOT NULL,
	[srsp_Total_Amount] [decimal](18, 2) NOT NULL,
	[srsp_status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ShopRiceSales_pt] PRIMARY KEY CLUSTERED 
(
	[srsp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Shops]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shops](
	[Shop_Id] [int] IDENTITY(1,1) NOT NULL,
	[Shop_Name] [nvarchar](max) NOT NULL,
	[Id] [nvarchar](128) NULL,
	[Shop_Code] [nvarchar](max) NULL,
	[Shop_MobileNo] [nvarchar](max) NULL,
	[Shop_Address] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Shops] PRIMARY KEY CLUSTERED 
(
	[Shop_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ShopStocks]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopStocks](
	[ShopStockId] [int] IDENTITY(1,1) NOT NULL,
	[Shop_Id] [int] NOT NULL,
	[Id] [nvarchar](128) NULL,
	[Rice_Production_id] [int] NOT NULL,
	[Qty] [int] NOT NULL,
	[packing_type] [int] NOT NULL,
	[SoldQty] [int] NOT NULL,
	[PerBagPrice] [decimal](18, 2) NOT NULL,
	[SumWeight_KG] [decimal](18, 2) NOT NULL,
	[TotalWeight_KG] [decimal](18, 2) NOT NULL,
	[SumWeight_Mann] [decimal](18, 2) NOT NULL,
	[TotalWeight_Mann] [decimal](18, 2) NOT NULL,
	[Total_Amount] [decimal](18, 2) NOT NULL,
	[NetTotal] [decimal](18, 2) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ShopStocks] PRIMARY KEY CLUSTERED 
(
	[ShopStockId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Transaction_Shop]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction_Shop](
	[Transaction_Shop_id] [int] IDENTITY(1,1) NOT NULL,
	[Transaction_Shop_item_id] [int] NOT NULL,
	[Transaction_Shop_item_type] [nvarchar](max) NULL,
	[Transaction_Shop_Description] [nvarchar](max) NULL,
	[isByCash] [bit] NOT NULL,
	[BankAccountNo] [nvarchar](max) NULL,
	[checkno] [int] NOT NULL,
	[Debit] [decimal](18, 2) NOT NULL,
	[Credit] [decimal](18, 2) NOT NULL,
	[Transaction_Shop_DateTime] [datetime] NOT NULL,
	[Opening_ClosingDays_Shop_id] [int] NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Transaction_Shop] PRIMARY KEY CLUSTERED 
(
	[Transaction_Shop_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 1/25/2018 7:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[Transaction_item_id] [int] NOT NULL,
	[Transaction_item_type] [nvarchar](max) NULL,
	[Transaction_Description] [nvarchar](max) NULL,
	[isByCash] [bit] NOT NULL,
	[BankAccountNo] [nvarchar](max) NULL,
	[checkno] [int] NOT NULL,
	[Debit] [decimal](18, 2) NOT NULL,
	[Credit] [decimal](18, 2) NOT NULL,
	[Transaction_DateTime] [datetime] NOT NULL,
	[Opening_ClosingDays_id] [int] NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Transactions] PRIMARY KEY CLUSTERED 
(
	[Transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'3 ', N'Factory')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Shop')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0d79f73a-f45e-460f-baa1-d75b6a79280b', N'3 ')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'b593627d-415f-4ed0-a80a-343e46831175', N'1')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [MobileNo], [User_Cnic], [User_Adress], [ShopCrendital], [FactroryCrendital], [Status], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'0d79f73a-f45e-460f-baa1-d75b6a79280b', N'Ali88@gmail.com', N'03241488970', N'3520106117699', N'safasdada', 0, 0, 1, 0, N'AANrRqmkDSPOGnJ+a7P+3KrbwSbcF5ez7jdvw3X7qY7exh/s387c6r4BhNGq0gLTlw==', N'3c3fce31-ad40-463b-9326-2e3e8eba1182', NULL, 0, 0, NULL, 1, 0, N'ali123')
SET IDENTITY_INSERT [dbo].[Brokers] ON 

INSERT [dbo].[Brokers] ([Broker_Id], [Id], [Broker_Name], [Broker_Code], [Broker_MobileNo], [Broker_BankName], [Broker_ACcountNo], [Broker_Address], [Status]) VALUES (4, N'b593627d-415f-4ed0-a80a-343e46831175', N'Ahsan', N'a12', N'03241488970', NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Brokers] OFF
SET IDENTITY_INSERT [dbo].[Opening_ClosingDays] ON 

INSERT [dbo].[Opening_ClosingDays] ([Opening_ClosingDays_id], [Opening_Balance], [Closing_Balance], [Date], [isClosed], [status]) VALUES (1, CAST(10000.00 AS Decimal(18, 2)), CAST(10000.00 AS Decimal(18, 2)), CAST(N'2018-01-13 14:47:54.807' AS DateTime), 1, 1)
INSERT [dbo].[Opening_ClosingDays] ([Opening_ClosingDays_id], [Opening_Balance], [Closing_Balance], [Date], [isClosed], [status]) VALUES (2, CAST(10000.00 AS Decimal(18, 2)), CAST(-500500.00 AS Decimal(18, 2)), CAST(N'2018-01-16 08:12:50.020' AS DateTime), 1, 1)
INSERT [dbo].[Opening_ClosingDays] ([Opening_ClosingDays_id], [Opening_Balance], [Closing_Balance], [Date], [isClosed], [status]) VALUES (3, CAST(-500500.00 AS Decimal(18, 2)), CAST(-500500.00 AS Decimal(18, 2)), CAST(N'2018-01-17 00:36:41.927' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Opening_ClosingDays] OFF
SET IDENTITY_INSERT [dbo].[Opening_ClosingDays_Shop] ON 

INSERT [dbo].[Opening_ClosingDays_Shop] ([Opening_ClosingDays_Shop_id], [Opening_Balance], [Closing_Balance], [Date], [isClosed], [Shop_Id], [status]) VALUES (2, CAST(1000000.00 AS Decimal(18, 2)), CAST(1000700.00 AS Decimal(18, 2)), CAST(N'2018-01-25 01:24:10.283' AS DateTime), 1, 2, 1)
INSERT [dbo].[Opening_ClosingDays_Shop] ([Opening_ClosingDays_Shop_id], [Opening_Balance], [Closing_Balance], [Date], [isClosed], [Shop_Id], [status]) VALUES (3, CAST(1000700.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2018-01-25 02:08:48.377' AS DateTime), 0, 2, 1)
SET IDENTITY_INSERT [dbo].[Opening_ClosingDays_Shop] OFF
SET IDENTITY_INSERT [dbo].[Packings] ON 

INSERT [dbo].[Packings] ([Packing_Id], [Id], [Packing_Type]) VALUES (1, NULL, 25)
INSERT [dbo].[Packings] ([Packing_Id], [Id], [Packing_Type]) VALUES (2, NULL, 50)
SET IDENTITY_INSERT [dbo].[Packings] OFF
SET IDENTITY_INSERT [dbo].[Parties] ON 

INSERT [dbo].[Parties] ([Party_Id], [Id], [Party_Name], [Party_Code], [Party_MobileNo], [Party_BankName], [Party_ACcountNo], [Party_Address], [Status]) VALUES (1, N'b593627d-415f-4ed0-a80a-343e46831175', N'Jalal Sons', N'p1', N'03231234567', N'Bank Al-falah', N'12345667', N'sdasfasd', 1)
INSERT [dbo].[Parties] ([Party_Id], [Id], [Party_Name], [Party_Code], [Party_MobileNo], [Party_BankName], [Party_ACcountNo], [Party_Address], [Status]) VALUES (2, N'b593627d-415f-4ed0-a80a-343e46831175', N'Jalal Sons new', N'p2', N'32222222222', N'Bank Al-falah', N'12345667', N'sdasfasd', 1)
INSERT [dbo].[Parties] ([Party_Id], [Id], [Party_Name], [Party_Code], [Party_MobileNo], [Party_BankName], [Party_ACcountNo], [Party_Address], [Status]) VALUES (3, N'b593627d-415f-4ed0-a80a-343e46831175', N'Hussnain', N'p3', N'23312311211', NULL, NULL, N'Lahore', 0)
SET IDENTITY_INSERT [dbo].[Parties] OFF
SET IDENTITY_INSERT [dbo].[Pricings] ON 

INSERT [dbo].[Pricings] ([Pricing_id], [item_id], [item_Type], [Pricing_Rate_kg], [Pricing_Rate_Maan], [Pricing_Total], [PerBagPrice], [PerBagMarketPrice], [Pricing_NetTotal], [Pricing_Date], [Status]) VALUES (1, 1, N'RawRice', CAST(100.00 AS Decimal(18, 2)), CAST(4000.00 AS Decimal(18, 2)), CAST(500000.00 AS Decimal(18, 2)), CAST(4999.00 AS Decimal(18, 2)), CAST(4999.00 AS Decimal(18, 2)), CAST(499900.00 AS Decimal(18, 2)), CAST(N'2018-01-16 17:54:20.203' AS DateTime), 1)
INSERT [dbo].[Pricings] ([Pricing_id], [item_id], [item_Type], [Pricing_Rate_kg], [Pricing_Rate_Maan], [Pricing_Total], [PerBagPrice], [PerBagMarketPrice], [Pricing_NetTotal], [Pricing_Date], [Status]) VALUES (2, 2, N'RawRice', CAST(62.50 AS Decimal(18, 2)), CAST(2500.00 AS Decimal(18, 2)), CAST(106250.00 AS Decimal(18, 2)), CAST(1560.00 AS Decimal(18, 2)), CAST(1560.00 AS Decimal(18, 2)), CAST(106050.00 AS Decimal(18, 2)), CAST(N'2018-01-16 17:56:54.390' AS DateTime), 1)
INSERT [dbo].[Pricings] ([Pricing_id], [item_id], [item_Type], [Pricing_Rate_kg], [Pricing_Rate_Maan], [Pricing_Total], [PerBagPrice], [PerBagMarketPrice], [Pricing_NetTotal], [Pricing_Date], [Status]) VALUES (3, 3, N'RawRice', CAST(100.00 AS Decimal(18, 2)), CAST(4000.00 AS Decimal(18, 2)), CAST(250000.00 AS Decimal(18, 2)), CAST(5000.00 AS Decimal(18, 2)), CAST(5000.00 AS Decimal(18, 2)), CAST(250000.00 AS Decimal(18, 2)), CAST(N'2018-01-21 15:07:48.927' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Pricings] OFF
SET IDENTITY_INSERT [dbo].[ProducedRiceSales_ch] ON 

INSERT [dbo].[ProducedRiceSales_ch] ([prsc_id], [prsc_title], [Rice_Production_id], [prsc_qty], [prsc_Weight_kg], [prsc_Weight_mann], [prsc_price], [prsp_id], [prsc_status]) VALUES (1, N'Supri', 2, -47, CAST(250.00 AS Decimal(18, 2)), CAST(6.25 AS Decimal(18, 2)), CAST(273.00 AS Decimal(18, 2)), 2, 0)
INSERT [dbo].[ProducedRiceSales_ch] ([prsc_id], [prsc_title], [Rice_Production_id], [prsc_qty], [prsc_Weight_kg], [prsc_Weight_mann], [prsc_price], [prsp_id], [prsc_status]) VALUES (2, N'Supri', 2, -34, CAST(325.00 AS Decimal(18, 2)), CAST(8.12 AS Decimal(18, 2)), CAST(355.00 AS Decimal(18, 2)), 2, 0)
INSERT [dbo].[ProducedRiceSales_ch] ([prsc_id], [prsc_title], [Rice_Production_id], [prsc_qty], [prsc_Weight_kg], [prsc_Weight_mann], [prsc_price], [prsp_id], [prsc_status]) VALUES (3, N'Supri', 2, -34, CAST(575.00 AS Decimal(18, 2)), CAST(14.37 AS Decimal(18, 2)), CAST(628.00 AS Decimal(18, 2)), 3, 0)
SET IDENTITY_INSERT [dbo].[ProducedRiceSales_ch] OFF
SET IDENTITY_INSERT [dbo].[ProducedRiceSales_pt] ON 

INSERT [dbo].[ProducedRiceSales_pt] ([prsp_id], [prsp_Title], [prsp_date], [Party_Id], [Id], [prsp_TotalWeight_KG], [prsp_TotalWeight_Mann], [prsp_Total_Amount], [prsp_status]) VALUES (1, N'Sales Supri to Party Jalal Sons', CAST(N'2018-01-19 16:24:42.347' AS DateTime), 1, NULL, CAST(800.00 AS Decimal(18, 2)), CAST(20.00 AS Decimal(18, 2)), CAST(874.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[ProducedRiceSales_pt] ([prsp_id], [prsp_Title], [prsp_date], [Party_Id], [Id], [prsp_TotalWeight_KG], [prsp_TotalWeight_Mann], [prsp_Total_Amount], [prsp_status]) VALUES (2, N'Sales Supri, Supri to Party Jalal Sons', CAST(N'2018-01-20 14:00:20.053' AS DateTime), 1, NULL, CAST(575.00 AS Decimal(18, 2)), CAST(14.37 AS Decimal(18, 2)), CAST(628.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[ProducedRiceSales_pt] ([prsp_id], [prsp_Title], [prsp_date], [Party_Id], [Id], [prsp_TotalWeight_KG], [prsp_TotalWeight_Mann], [prsp_Total_Amount], [prsp_status]) VALUES (3, N'Sales Supri to Party Jalal Sons', CAST(N'2018-01-20 14:13:18.580' AS DateTime), 1, NULL, CAST(575.00 AS Decimal(18, 2)), CAST(14.37 AS Decimal(18, 2)), CAST(628.00 AS Decimal(18, 2)), 0)
SET IDENTITY_INSERT [dbo].[ProducedRiceSales_pt] OFF
SET IDENTITY_INSERT [dbo].[Production_Extra_Rice] ON 

INSERT [dbo].[Production_Extra_Rice] ([Production_Extra_Rice_id], [Rice_Produce_Bags_id], [Extra_Rice]) VALUES (1, 1, CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Production_Extra_Rice] OFF
SET IDENTITY_INSERT [dbo].[Production_Rice] ON 

INSERT [dbo].[Production_Rice] ([Production_Rice_id], [Rice_Produce_Bags_id], [RawRice_id], [Purchase_Rice_Rate], [Purchase_Rice_BagsUsed], [Packing_Id], [Total_Weight], [Total_Worth], [Market_Worth], [Market_Rate]) VALUES (1, 1, 1, CAST(4999.00 AS Decimal(18, 2)), 87, 50, CAST(4350.00 AS Decimal(18, 2)), CAST(434913.00 AS Decimal(18, 2)), CAST(434913.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Production_Rice] ([Production_Rice_id], [Rice_Produce_Bags_id], [RawRice_id], [Purchase_Rice_Rate], [Purchase_Rice_BagsUsed], [Packing_Id], [Total_Weight], [Total_Worth], [Market_Worth], [Market_Rate]) VALUES (2, 1, 2, CAST(1560.00 AS Decimal(18, 2)), 50, 25, CAST(1250.00 AS Decimal(18, 2)), CAST(78000.00 AS Decimal(18, 2)), CAST(78000.00 AS Decimal(18, 2)), CAST(1560.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Production_Rice] OFF
SET IDENTITY_INSERT [dbo].[RawRice_Sales_ch] ON 

INSERT [dbo].[RawRice_Sales_ch] ([rsc_id], [rsc_title], [RawRice_id], [rsc_qty], [rsc_Weight_kg], [rsc_Weight_mann], [rsc_price], [rsp_id], [rsc_status]) VALUES (1, N'Basmati', 1, 4, CAST(200.00 AS Decimal(18, 2)), CAST(5.00 AS Decimal(18, 2)), CAST(19996.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[RawRice_Sales_ch] ([rsc_id], [rsc_title], [RawRice_id], [rsc_qty], [rsc_Weight_kg], [rsc_Weight_mann], [rsc_price], [rsp_id], [rsc_status]) VALUES (2, N'Kernal', 2, 10, CAST(250.00 AS Decimal(18, 2)), CAST(6.25 AS Decimal(18, 2)), CAST(15600.00 AS Decimal(18, 2)), 2, 1)
INSERT [dbo].[RawRice_Sales_ch] ([rsc_id], [rsc_title], [RawRice_id], [rsc_qty], [rsc_Weight_kg], [rsc_Weight_mann], [rsc_price], [rsp_id], [rsc_status]) VALUES (3, N'supri ', 3, 40, CAST(1000.00 AS Decimal(18, 2)), CAST(25.00 AS Decimal(18, 2)), CAST(200000.00 AS Decimal(18, 2)), 2, 1)
SET IDENTITY_INSERT [dbo].[RawRice_Sales_ch] OFF
SET IDENTITY_INSERT [dbo].[RawRice_Sales_pt] ON 

INSERT [dbo].[RawRice_Sales_pt] ([rsp_id], [rsp_Title], [rsp_date], [Party_Id], [rsp_TotalWeight_KG], [rsp_TotalWeight_Mann], [rsp_Total_Amount], [rsp_status], [Id]) VALUES (1, N'Sales Basmati to Party Jalal Sons', CAST(N'2018-01-20 23:00:21.673' AS DateTime), 1, CAST(200.00 AS Decimal(18, 2)), CAST(5.00 AS Decimal(18, 2)), CAST(19996.00 AS Decimal(18, 2)), 1, NULL)
INSERT [dbo].[RawRice_Sales_pt] ([rsp_id], [rsp_Title], [rsp_date], [Party_Id], [rsp_TotalWeight_KG], [rsp_TotalWeight_Mann], [rsp_Total_Amount], [rsp_status], [Id]) VALUES (2, N'Sales Kernal, supri  to Party Jalal Sons', CAST(N'2018-01-21 15:10:57.327' AS DateTime), 1, CAST(1250.00 AS Decimal(18, 2)), CAST(31.25 AS Decimal(18, 2)), CAST(215600.00 AS Decimal(18, 2)), 1, NULL)
SET IDENTITY_INSERT [dbo].[RawRice_Sales_pt] OFF
SET IDENTITY_INSERT [dbo].[RawRiceExpenses] ON 

INSERT [dbo].[RawRiceExpenses] ([RawRiceExpense_id], [RawRiceExpense_Name], [RawRiceExpense_Amount], [RawRice_id]) VALUES (1, N'carriage', CAST(100.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[RawRiceExpenses] ([RawRiceExpense_id], [RawRiceExpense_Name], [RawRiceExpense_Amount], [RawRice_id]) VALUES (2, N'carriage', CAST(200.00 AS Decimal(18, 2)), 2)
SET IDENTITY_INSERT [dbo].[RawRiceExpenses] OFF
SET IDENTITY_INSERT [dbo].[RawRices] ON 

INSERT [dbo].[RawRices] ([RawRice_id], [Party_Id], [Id], [Broker_Id], [Rice_category_Id], [Item_Name], [Item_Code], [Packing_Id], [Bags_qty], [Bags_Sold_qty], [Total_Weight], [Total_Mann], [Date], [Status]) VALUES (1, 1, N'b593627d-415f-4ed0-a80a-343e46831175', 4, 1, N'Basmati', N'B59', 2, 100, 91, CAST(5000.00 AS Decimal(18, 2)), CAST(125.00 AS Decimal(18, 2)), CAST(N'2018-01-16 17:54:20.023' AS DateTime), 1)
INSERT [dbo].[RawRices] ([RawRice_id], [Party_Id], [Id], [Broker_Id], [Rice_category_Id], [Item_Name], [Item_Code], [Packing_Id], [Bags_qty], [Bags_Sold_qty], [Total_Weight], [Total_Mann], [Date], [Status]) VALUES (2, 1, N'b593627d-415f-4ed0-a80a-343e46831175', 4, 1, N'Kernal', N'k23', 1, 68, 60, CAST(1700.00 AS Decimal(18, 2)), CAST(42.50 AS Decimal(18, 2)), CAST(N'2018-01-16 17:56:54.367' AS DateTime), 1)
INSERT [dbo].[RawRices] ([RawRice_id], [Party_Id], [Id], [Broker_Id], [Rice_category_Id], [Item_Name], [Item_Code], [Packing_Id], [Bags_qty], [Bags_Sold_qty], [Total_Weight], [Total_Mann], [Date], [Status]) VALUES (3, 1, N'b593627d-415f-4ed0-a80a-343e46831175', 4, 1, N'supri ', N's34', 1, 50, 40, CAST(2500.00 AS Decimal(18, 2)), CAST(62.50 AS Decimal(18, 2)), CAST(N'2018-01-21 15:07:24.897' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[RawRices] OFF
SET IDENTITY_INSERT [dbo].[Rice_Category] ON 

INSERT [dbo].[Rice_Category] ([Rice_category_Id], [Rice_Category_Name], [Status]) VALUES (1, N'Pohnch', 1)
INSERT [dbo].[Rice_Category] ([Rice_category_Id], [Rice_Category_Name], [Status]) VALUES (2, N'Chukwa', 1)
INSERT [dbo].[Rice_Category] ([Rice_category_Id], [Rice_Category_Name], [Status]) VALUES (3, N'Load', 1)
SET IDENTITY_INSERT [dbo].[Rice_Category] OFF
SET IDENTITY_INSERT [dbo].[Rice_Produce_Bag] ON 

SET IDENTITY_INSERT [dbo].[Rice_Produce_Bag] OFF
SET IDENTITY_INSERT [dbo].[Rice_Production] ON 

INSERT [dbo].[Rice_Production] ([Rice_Production_id], [Rice_Production_name], [Rice_Production_Code], [Id], [Packing_Id], [Rice_Production_RemainingBags], [Rice_Production_Date], [Status]) VALUES (2, N'Supri', N'S87', N'b593627d-415f-4ed0-a80a-343e46831175', 1, 0, CAST(N'2018-01-16 19:34:12.890' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Rice_Production] OFF
SET IDENTITY_INSERT [dbo].[Rice_Production_Expense] ON 

INSERT [dbo].[Rice_Production_Expense] ([Rice_Production_Expense_id], [Rice_Produce_Bags_id], [Rice_Production_Expense_name], [Rice_Production_Expense_Amount]) VALUES (1, 1, N'testing ', CAST(100.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Rice_Production_Expense] OFF
SET IDENTITY_INSERT [dbo].[Rice_Production_ProductWorth] ON 

INSERT [dbo].[Rice_Production_ProductWorth] ([Rice_Production_ProductWorth_id], [Rice_Produce_Bags_id], [Rice_Production_ProductWorth_name], [Rice_Production_ProductWorth_Amount]) VALUES (1, 1, N'b1', CAST(100.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Rice_Production_ProductWorth] OFF
SET IDENTITY_INSERT [dbo].[Rice_Production_ShortFall] ON 

INSERT [dbo].[Rice_Production_ShortFall] ([Rice_Production_ShortFall_id], [Rice_Produce_Bags_id], [Rice_Production_ShortFall_name], [Rice_Production_ShortFall_Amount]) VALUES (1, 1, N'testing ', CAST(1.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Rice_Production_ShortFall] OFF
SET IDENTITY_INSERT [dbo].[Shop_Account] ON 

INSERT [dbo].[Shop_Account] ([Shop_AccountId], [Shop_Id], [Shop_BankName], [Shop_ACcountNo], [Status]) VALUES (1, 2, N'alfalah', N'1234566', 1)
SET IDENTITY_INSERT [dbo].[Shop_Account] OFF
SET IDENTITY_INSERT [dbo].[ShopRiceSales_ch] ON 

INSERT [dbo].[ShopRiceSales_ch] ([srsc_id], [srsc_title], [ShopStockId], [srsc_qty], [srsc_Weight_kg], [srsc_Weight_mann], [srsc_price], [srsp_id], [srsc_status]) VALUES (1, N'Supri', 2, 12, CAST(300.00 AS Decimal(18, 2)), CAST(7.50 AS Decimal(18, 2)), CAST(300.00 AS Decimal(18, 2)), 2, 0)
INSERT [dbo].[ShopRiceSales_ch] ([srsc_id], [srsc_title], [ShopStockId], [srsc_qty], [srsc_Weight_kg], [srsc_Weight_mann], [srsc_price], [srsp_id], [srsc_status]) VALUES (2, N'Supri', 2, 1, CAST(25.00 AS Decimal(18, 2)), CAST(0.62 AS Decimal(18, 2)), CAST(25.00 AS Decimal(18, 2)), 3, 0)
INSERT [dbo].[ShopRiceSales_ch] ([srsc_id], [srsc_title], [ShopStockId], [srsc_qty], [srsc_Weight_kg], [srsc_Weight_mann], [srsc_price], [srsp_id], [srsc_status]) VALUES (3, N'Supri', 2, 12, CAST(300.00 AS Decimal(18, 2)), CAST(7.50 AS Decimal(18, 2)), CAST(300.00 AS Decimal(18, 2)), 4, 0)
SET IDENTITY_INSERT [dbo].[ShopRiceSales_ch] OFF
SET IDENTITY_INSERT [dbo].[ShopRiceSales_pt] ON 

INSERT [dbo].[ShopRiceSales_pt] ([srsp_id], [srsp_Title], [srsp_date], [Party_Id], [Id], [Shop_Id], [srsp_TotalWeight_KG], [srsp_TotalWeight_Mann], [srsp_Total_Amount], [srsp_status]) VALUES (2, N'Sales Supri to Party Jalal Sons', CAST(N'2018-01-25 03:40:14.503' AS DateTime), 1, NULL, 2, CAST(300.00 AS Decimal(18, 2)), CAST(7.50 AS Decimal(18, 2)), CAST(300.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[ShopRiceSales_pt] ([srsp_id], [srsp_Title], [srsp_date], [Party_Id], [Id], [Shop_Id], [srsp_TotalWeight_KG], [srsp_TotalWeight_Mann], [srsp_Total_Amount], [srsp_status]) VALUES (3, N'Sales Supri to Party Jalal Sons', CAST(N'2018-01-25 03:44:23.810' AS DateTime), 1, NULL, 2, CAST(25.00 AS Decimal(18, 2)), CAST(0.62 AS Decimal(18, 2)), CAST(25.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[ShopRiceSales_pt] ([srsp_id], [srsp_Title], [srsp_date], [Party_Id], [Id], [Shop_Id], [srsp_TotalWeight_KG], [srsp_TotalWeight_Mann], [srsp_Total_Amount], [srsp_status]) VALUES (4, N'Sales Supri to Party Jalal Sons', CAST(N'2018-01-25 03:45:45.603' AS DateTime), 1, NULL, 2, CAST(300.00 AS Decimal(18, 2)), CAST(7.50 AS Decimal(18, 2)), CAST(300.00 AS Decimal(18, 2)), 0)
SET IDENTITY_INSERT [dbo].[ShopRiceSales_pt] OFF
SET IDENTITY_INSERT [dbo].[Shops] ON 

INSERT [dbo].[Shops] ([Shop_Id], [Shop_Name], [Id], [Shop_Code], [Shop_MobileNo], [Shop_Address], [Status]) VALUES (2, N'Double Hathi Marka', N'b593627d-415f-4ed0-a80a-343e46831175', N'55 Circular', N'03241477123', N'asdasda', 1)
SET IDENTITY_INSERT [dbo].[Shops] OFF
SET IDENTITY_INSERT [dbo].[ShopStocks] ON 

INSERT [dbo].[ShopStocks] ([ShopStockId], [Shop_Id], [Id], [Rice_Production_id], [Qty], [packing_type], [SoldQty], [PerBagPrice], [SumWeight_KG], [TotalWeight_KG], [SumWeight_Mann], [TotalWeight_Mann], [Total_Amount], [NetTotal], [Status]) VALUES (2, 2, N'b593627d-415f-4ed0-a80a-343e46831175', 2, 13, 25, -10, CAST(25.00 AS Decimal(18, 2)), CAST(875.00 AS Decimal(18, 2)), CAST(325.00 AS Decimal(18, 2)), CAST(21.87 AS Decimal(18, 2)), CAST(8.12 AS Decimal(18, 2)), CAST(355.00 AS Decimal(18, 2)), CAST(956.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[ShopStocks] OFF
SET IDENTITY_INSERT [dbo].[Transaction_Shop] ON 

INSERT [dbo].[Transaction_Shop] ([Transaction_Shop_id], [Transaction_Shop_item_id], [Transaction_Shop_item_type], [Transaction_Shop_Description], [isByCash], [BankAccountNo], [checkno], [Debit], [Credit], [Transaction_Shop_DateTime], [Opening_ClosingDays_Shop_id], [status]) VALUES (1, 0, N'Manual', NULL, 1, NULL, 0, CAST(0.00 AS Decimal(18, 2)), CAST(786.00 AS Decimal(18, 2)), CAST(N'2018-01-25 01:48:32.337' AS DateTime), 2, 0)
INSERT [dbo].[Transaction_Shop] ([Transaction_Shop_id], [Transaction_Shop_item_id], [Transaction_Shop_item_type], [Transaction_Shop_Description], [isByCash], [BankAccountNo], [checkno], [Debit], [Credit], [Transaction_Shop_DateTime], [Opening_ClosingDays_Shop_id], [status]) VALUES (2, 0, N'Manual', N'Add 7861', 1, NULL, 0, CAST(0.00 AS Decimal(18, 2)), CAST(7861.00 AS Decimal(18, 2)), CAST(N'2018-01-25 01:54:53.557' AS DateTime), 2, 0)
INSERT [dbo].[Transaction_Shop] ([Transaction_Shop_id], [Transaction_Shop_item_id], [Transaction_Shop_item_type], [Transaction_Shop_Description], [isByCash], [BankAccountNo], [checkno], [Debit], [Credit], [Transaction_Shop_DateTime], [Opening_ClosingDays_Shop_id], [status]) VALUES (3, 0, N'Manual', N'Add 7861', 1, NULL, 0, CAST(0.00 AS Decimal(18, 2)), CAST(781.00 AS Decimal(18, 2)), CAST(N'2018-01-25 02:03:20.410' AS DateTime), 2, 1)
SET IDENTITY_INSERT [dbo].[Transaction_Shop] OFF
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([Transaction_id], [Transaction_item_id], [Transaction_item_type], [Transaction_Description], [isByCash], [BankAccountNo], [checkno], [Debit], [Credit], [Transaction_DateTime], [Opening_ClosingDays_id], [status]) VALUES (1, 1, N'RawRice', N'Purchase Basmati  Qty: 100 Packing type: 50Kgs from Party Jalal Sons', 1, N'', 0, CAST(499900.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2018-01-16 17:54:20.220' AS DateTime), 2, 1)
INSERT [dbo].[Transactions] ([Transaction_id], [Transaction_item_id], [Transaction_item_type], [Transaction_Description], [isByCash], [BankAccountNo], [checkno], [Debit], [Credit], [Transaction_DateTime], [Opening_ClosingDays_id], [status]) VALUES (2, 2, N'RawRice', N'Purchase Kernal  Qty: 68 Packing type: 25Kgs from Party Jalal Sons', 1, N'', 0, CAST(10600.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2018-01-16 17:56:54.400' AS DateTime), 2, 1)
INSERT [dbo].[Transactions] ([Transaction_id], [Transaction_item_id], [Transaction_item_type], [Transaction_Description], [isByCash], [BankAccountNo], [checkno], [Debit], [Credit], [Transaction_DateTime], [Opening_ClosingDays_id], [status]) VALUES (9, 1, N'RawRice Sales', N'Sales Basmati to Party Jalal Sons', 1, N'', 0, CAST(0.00 AS Decimal(18, 2)), CAST(1000.00 AS Decimal(18, 2)), CAST(N'2018-01-20 23:00:22.083' AS DateTime), 6, 1)
SET IDENTITY_INSERT [dbo].[Transactions] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[Brokers]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[Customers]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[Factories]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RawRice_id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_RawRice_id] ON [dbo].[GatePassInwareds]
(
	[RawRice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Shop_Id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Shop_Id] ON [dbo].[Opening_ClosingDays_Shop]
(
	[Shop_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[Packings]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[Parties]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_prsp_id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_prsp_id] ON [dbo].[ProducedRiceSales_ch]
(
	[prsp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rice_Production_id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Rice_Production_id] ON [dbo].[ProducedRiceSales_ch]
(
	[Rice_Production_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[ProducedRiceSales_pt]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Party_Id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Party_Id] ON [dbo].[ProducedRiceSales_pt]
(
	[Party_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rice_Produce_Bags_id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Rice_Produce_Bags_id] ON [dbo].[Production_Extra_Rice]
(
	[Rice_Produce_Bags_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RawRice_id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_RawRice_id] ON [dbo].[Production_Rice]
(
	[RawRice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rice_Produce_Bags_id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Rice_Produce_Bags_id] ON [dbo].[Production_Rice]
(
	[Rice_Produce_Bags_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RawRice_id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_RawRice_id] ON [dbo].[RawRice_Sales_ch]
(
	[RawRice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_rsp_id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_rsp_id] ON [dbo].[RawRice_Sales_ch]
(
	[rsp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[RawRice_Sales_pt]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Party_Id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Party_Id] ON [dbo].[RawRice_Sales_pt]
(
	[Party_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RawRice_id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_RawRice_id] ON [dbo].[RawRiceExpenses]
(
	[RawRice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Broker_Id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Broker_Id] ON [dbo].[RawRices]
(
	[Broker_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[RawRices]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Packing_Id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Packing_Id] ON [dbo].[RawRices]
(
	[Packing_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Party_Id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Party_Id] ON [dbo].[RawRices]
(
	[Party_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rice_category_Id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Rice_category_Id] ON [dbo].[RawRices]
(
	[Rice_category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rice_Production_id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Rice_Production_id] ON [dbo].[Rice_Produce_Bag]
(
	[Rice_Production_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[Rice_Production]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Packing_Id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Packing_Id] ON [dbo].[Rice_Production]
(
	[Packing_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rice_Produce_Bags_id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Rice_Produce_Bags_id] ON [dbo].[Rice_Production_Expense]
(
	[Rice_Produce_Bags_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rice_Produce_Bags_id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Rice_Produce_Bags_id] ON [dbo].[Rice_Production_ProductWorth]
(
	[Rice_Produce_Bags_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rice_Produce_Bags_id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Rice_Produce_Bags_id] ON [dbo].[Rice_Production_ShortFall]
(
	[Rice_Produce_Bags_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Shop_Id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Shop_Id] ON [dbo].[Shop_Account]
(
	[Shop_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShopStockId]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_ShopStockId] ON [dbo].[ShopRiceSales_ch]
(
	[ShopStockId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_srsp_id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_srsp_id] ON [dbo].[ShopRiceSales_ch]
(
	[srsp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[ShopRiceSales_pt]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Party_Id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Party_Id] ON [dbo].[ShopRiceSales_pt]
(
	[Party_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Shop_Id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Shop_Id] ON [dbo].[ShopRiceSales_pt]
(
	[Shop_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[Shops]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[ShopStocks]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rice_Production_id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Rice_Production_id] ON [dbo].[ShopStocks]
(
	[Rice_Production_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Shop_Id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Shop_Id] ON [dbo].[ShopStocks]
(
	[Shop_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Opening_ClosingDays_Shop_id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Opening_ClosingDays_Shop_id] ON [dbo].[Transaction_Shop]
(
	[Opening_ClosingDays_Shop_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Opening_ClosingDays_id]    Script Date: 1/25/2018 7:04:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Opening_ClosingDays_id] ON [dbo].[Transactions]
(
	[Opening_ClosingDays_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Brokers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Brokers_dbo.AspNetUsers_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Brokers] CHECK CONSTRAINT [FK_dbo.Brokers_dbo.AspNetUsers_Id]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Customers_dbo.AspNetUsers_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_dbo.Customers_dbo.AspNetUsers_Id]
GO
ALTER TABLE [dbo].[Factories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Factories_dbo.AspNetUsers_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Factories] CHECK CONSTRAINT [FK_dbo.Factories_dbo.AspNetUsers_Id]
GO
ALTER TABLE [dbo].[GatePassInwareds]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GatePassInwareds_dbo.RawRices_RawRice_id] FOREIGN KEY([RawRice_id])
REFERENCES [dbo].[RawRices] ([RawRice_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GatePassInwareds] CHECK CONSTRAINT [FK_dbo.GatePassInwareds_dbo.RawRices_RawRice_id]
GO
ALTER TABLE [dbo].[Opening_ClosingDays_Shop]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Opening_ClosingDays_Shop_dbo.Shops_Shop_Id] FOREIGN KEY([Shop_Id])
REFERENCES [dbo].[Shops] ([Shop_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Opening_ClosingDays_Shop] CHECK CONSTRAINT [FK_dbo.Opening_ClosingDays_Shop_dbo.Shops_Shop_Id]
GO
ALTER TABLE [dbo].[Packings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Packings_dbo.AspNetUsers_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Packings] CHECK CONSTRAINT [FK_dbo.Packings_dbo.AspNetUsers_Id]
GO
ALTER TABLE [dbo].[Parties]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Parties_dbo.AspNetUsers_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Parties] CHECK CONSTRAINT [FK_dbo.Parties_dbo.AspNetUsers_Id]
GO
ALTER TABLE [dbo].[ProducedRiceSales_ch]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProducedRiceSales_ch_dbo.ProducedRiceSales_pt_prsp_id] FOREIGN KEY([prsp_id])
REFERENCES [dbo].[ProducedRiceSales_pt] ([prsp_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProducedRiceSales_ch] CHECK CONSTRAINT [FK_dbo.ProducedRiceSales_ch_dbo.ProducedRiceSales_pt_prsp_id]
GO
ALTER TABLE [dbo].[ProducedRiceSales_ch]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProducedRiceSales_ch_dbo.Rice_Production_Rice_Production_id] FOREIGN KEY([Rice_Production_id])
REFERENCES [dbo].[Rice_Production] ([Rice_Production_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProducedRiceSales_ch] CHECK CONSTRAINT [FK_dbo.ProducedRiceSales_ch_dbo.Rice_Production_Rice_Production_id]
GO
ALTER TABLE [dbo].[ProducedRiceSales_pt]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProducedRiceSales_pt_dbo.AspNetUsers_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ProducedRiceSales_pt] CHECK CONSTRAINT [FK_dbo.ProducedRiceSales_pt_dbo.AspNetUsers_Id]
GO
ALTER TABLE [dbo].[ProducedRiceSales_pt]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProducedRiceSales_pt_dbo.Parties_Party_Id] FOREIGN KEY([Party_Id])
REFERENCES [dbo].[Parties] ([Party_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProducedRiceSales_pt] CHECK CONSTRAINT [FK_dbo.ProducedRiceSales_pt_dbo.Parties_Party_Id]
GO
ALTER TABLE [dbo].[Production_Extra_Rice]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Production_Extra_Rice_dbo.Rice_Produce_Bag_Rice_Produce_Bags_id] FOREIGN KEY([Rice_Produce_Bags_id])
REFERENCES [dbo].[Rice_Produce_Bag] ([Rice_Produce_Bags_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Production_Extra_Rice] CHECK CONSTRAINT [FK_dbo.Production_Extra_Rice_dbo.Rice_Produce_Bag_Rice_Produce_Bags_id]
GO
ALTER TABLE [dbo].[Production_Rice]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Production_Rice_dbo.RawRices_RawRice_id] FOREIGN KEY([RawRice_id])
REFERENCES [dbo].[RawRices] ([RawRice_id])
GO
ALTER TABLE [dbo].[Production_Rice] CHECK CONSTRAINT [FK_dbo.Production_Rice_dbo.RawRices_RawRice_id]
GO
ALTER TABLE [dbo].[Production_Rice]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Production_Rice_dbo.Rice_Produce_Bag_Rice_Produce_Bags_id] FOREIGN KEY([Rice_Produce_Bags_id])
REFERENCES [dbo].[Rice_Produce_Bag] ([Rice_Produce_Bags_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Production_Rice] CHECK CONSTRAINT [FK_dbo.Production_Rice_dbo.Rice_Produce_Bag_Rice_Produce_Bags_id]
GO
ALTER TABLE [dbo].[RawRice_Sales_ch]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RawRice_Sales_ch_dbo.RawRice_Sales_pt_rsp_id] FOREIGN KEY([rsp_id])
REFERENCES [dbo].[RawRice_Sales_pt] ([rsp_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RawRice_Sales_ch] CHECK CONSTRAINT [FK_dbo.RawRice_Sales_ch_dbo.RawRice_Sales_pt_rsp_id]
GO
ALTER TABLE [dbo].[RawRice_Sales_ch]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RawRice_Sales_ch_dbo.RawRices_RawRice_id] FOREIGN KEY([RawRice_id])
REFERENCES [dbo].[RawRices] ([RawRice_id])
GO
ALTER TABLE [dbo].[RawRice_Sales_ch] CHECK CONSTRAINT [FK_dbo.RawRice_Sales_ch_dbo.RawRices_RawRice_id]
GO
ALTER TABLE [dbo].[RawRice_Sales_pt]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RawRice_Sales_pt_dbo.AspNetUsers_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[RawRice_Sales_pt] CHECK CONSTRAINT [FK_dbo.RawRice_Sales_pt_dbo.AspNetUsers_Id]
GO
ALTER TABLE [dbo].[RawRice_Sales_pt]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RawRice_Sales_pt_dbo.Parties_Party_Id] FOREIGN KEY([Party_Id])
REFERENCES [dbo].[Parties] ([Party_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RawRice_Sales_pt] CHECK CONSTRAINT [FK_dbo.RawRice_Sales_pt_dbo.Parties_Party_Id]
GO
ALTER TABLE [dbo].[RawRiceExpenses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RawRiceExpenses_dbo.RawRices_RawRice_id] FOREIGN KEY([RawRice_id])
REFERENCES [dbo].[RawRices] ([RawRice_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RawRiceExpenses] CHECK CONSTRAINT [FK_dbo.RawRiceExpenses_dbo.RawRices_RawRice_id]
GO
ALTER TABLE [dbo].[RawRices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RawRices_dbo.AspNetUsers_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[RawRices] CHECK CONSTRAINT [FK_dbo.RawRices_dbo.AspNetUsers_Id]
GO
ALTER TABLE [dbo].[RawRices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RawRices_dbo.Brokers_Broker_Id] FOREIGN KEY([Broker_Id])
REFERENCES [dbo].[Brokers] ([Broker_Id])
GO
ALTER TABLE [dbo].[RawRices] CHECK CONSTRAINT [FK_dbo.RawRices_dbo.Brokers_Broker_Id]
GO
ALTER TABLE [dbo].[RawRices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RawRices_dbo.Packings_Packing_Id] FOREIGN KEY([Packing_Id])
REFERENCES [dbo].[Packings] ([Packing_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RawRices] CHECK CONSTRAINT [FK_dbo.RawRices_dbo.Packings_Packing_Id]
GO
ALTER TABLE [dbo].[RawRices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RawRices_dbo.Parties_Party_Id] FOREIGN KEY([Party_Id])
REFERENCES [dbo].[Parties] ([Party_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RawRices] CHECK CONSTRAINT [FK_dbo.RawRices_dbo.Parties_Party_Id]
GO
ALTER TABLE [dbo].[RawRices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RawRices_dbo.Rice_Category_Rice_category_Id] FOREIGN KEY([Rice_category_Id])
REFERENCES [dbo].[Rice_Category] ([Rice_category_Id])
GO
ALTER TABLE [dbo].[RawRices] CHECK CONSTRAINT [FK_dbo.RawRices_dbo.Rice_Category_Rice_category_Id]
GO
ALTER TABLE [dbo].[Rice_Produce_Bag]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rice_Produce_Bag_dbo.Rice_Production_Rice_Production_id] FOREIGN KEY([Rice_Production_id])
REFERENCES [dbo].[Rice_Production] ([Rice_Production_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rice_Produce_Bag] CHECK CONSTRAINT [FK_dbo.Rice_Produce_Bag_dbo.Rice_Production_Rice_Production_id]
GO
ALTER TABLE [dbo].[Rice_Production]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rice_Production_dbo.AspNetUsers_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Rice_Production] CHECK CONSTRAINT [FK_dbo.Rice_Production_dbo.AspNetUsers_Id]
GO
ALTER TABLE [dbo].[Rice_Production]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rice_Production_dbo.Packings_Packing_Id] FOREIGN KEY([Packing_Id])
REFERENCES [dbo].[Packings] ([Packing_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rice_Production] CHECK CONSTRAINT [FK_dbo.Rice_Production_dbo.Packings_Packing_Id]
GO
ALTER TABLE [dbo].[Rice_Production_Expense]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rice_Production_Expense_dbo.Rice_Produce_Bag_Rice_Produce_Bags_id] FOREIGN KEY([Rice_Produce_Bags_id])
REFERENCES [dbo].[Rice_Produce_Bag] ([Rice_Produce_Bags_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rice_Production_Expense] CHECK CONSTRAINT [FK_dbo.Rice_Production_Expense_dbo.Rice_Produce_Bag_Rice_Produce_Bags_id]
GO
ALTER TABLE [dbo].[Rice_Production_ProductWorth]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rice_Production_ProductWorth_dbo.Rice_Produce_Bag_Rice_Produce_Bags_id] FOREIGN KEY([Rice_Produce_Bags_id])
REFERENCES [dbo].[Rice_Produce_Bag] ([Rice_Produce_Bags_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rice_Production_ProductWorth] CHECK CONSTRAINT [FK_dbo.Rice_Production_ProductWorth_dbo.Rice_Produce_Bag_Rice_Produce_Bags_id]
GO
ALTER TABLE [dbo].[Rice_Production_ShortFall]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rice_Production_ShortFall_dbo.Rice_Produce_Bag_Rice_Produce_Bags_id] FOREIGN KEY([Rice_Produce_Bags_id])
REFERENCES [dbo].[Rice_Produce_Bag] ([Rice_Produce_Bags_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rice_Production_ShortFall] CHECK CONSTRAINT [FK_dbo.Rice_Production_ShortFall_dbo.Rice_Produce_Bag_Rice_Produce_Bags_id]
GO
ALTER TABLE [dbo].[Shop_Account]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Shop_Account_dbo.Shops_Shop_Id] FOREIGN KEY([Shop_Id])
REFERENCES [dbo].[Shops] ([Shop_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Shop_Account] CHECK CONSTRAINT [FK_dbo.Shop_Account_dbo.Shops_Shop_Id]
GO
ALTER TABLE [dbo].[ShopRiceSales_ch]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShopRiceSales_ch_dbo.ShopRiceSales_pt_srsp_id] FOREIGN KEY([srsp_id])
REFERENCES [dbo].[ShopRiceSales_pt] ([srsp_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShopRiceSales_ch] CHECK CONSTRAINT [FK_dbo.ShopRiceSales_ch_dbo.ShopRiceSales_pt_srsp_id]
GO
ALTER TABLE [dbo].[ShopRiceSales_ch]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShopRiceSales_ch_dbo.ShopStocks_ShopStockId] FOREIGN KEY([ShopStockId])
REFERENCES [dbo].[ShopStocks] ([ShopStockId])
GO
ALTER TABLE [dbo].[ShopRiceSales_ch] CHECK CONSTRAINT [FK_dbo.ShopRiceSales_ch_dbo.ShopStocks_ShopStockId]
GO
ALTER TABLE [dbo].[ShopRiceSales_pt]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShopRiceSales_pt_dbo.AspNetUsers_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ShopRiceSales_pt] CHECK CONSTRAINT [FK_dbo.ShopRiceSales_pt_dbo.AspNetUsers_Id]
GO
ALTER TABLE [dbo].[ShopRiceSales_pt]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShopRiceSales_pt_dbo.Parties_Party_Id] FOREIGN KEY([Party_Id])
REFERENCES [dbo].[Parties] ([Party_Id])
GO
ALTER TABLE [dbo].[ShopRiceSales_pt] CHECK CONSTRAINT [FK_dbo.ShopRiceSales_pt_dbo.Parties_Party_Id]
GO
ALTER TABLE [dbo].[ShopRiceSales_pt]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShopRiceSales_pt_dbo.Shops_Shop_Id] FOREIGN KEY([Shop_Id])
REFERENCES [dbo].[Shops] ([Shop_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShopRiceSales_pt] CHECK CONSTRAINT [FK_dbo.ShopRiceSales_pt_dbo.Shops_Shop_Id]
GO
ALTER TABLE [dbo].[Shops]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Shops_dbo.AspNetUsers_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Shops] CHECK CONSTRAINT [FK_dbo.Shops_dbo.AspNetUsers_Id]
GO
ALTER TABLE [dbo].[ShopStocks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShopStocks_dbo.AspNetUsers_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ShopStocks] CHECK CONSTRAINT [FK_dbo.ShopStocks_dbo.AspNetUsers_Id]
GO
ALTER TABLE [dbo].[ShopStocks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShopStocks_dbo.Rice_Production_Rice_Production_id] FOREIGN KEY([Rice_Production_id])
REFERENCES [dbo].[Rice_Production] ([Rice_Production_id])
GO
ALTER TABLE [dbo].[ShopStocks] CHECK CONSTRAINT [FK_dbo.ShopStocks_dbo.Rice_Production_Rice_Production_id]
GO
ALTER TABLE [dbo].[ShopStocks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShopStocks_dbo.Shops_Shop_Id] FOREIGN KEY([Shop_Id])
REFERENCES [dbo].[Shops] ([Shop_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShopStocks] CHECK CONSTRAINT [FK_dbo.ShopStocks_dbo.Shops_Shop_Id]
GO
ALTER TABLE [dbo].[Transaction_Shop]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Transaction_Shop_dbo.Opening_ClosingDays_Shop_Opening_ClosingDays_Shop_id] FOREIGN KEY([Opening_ClosingDays_Shop_id])
REFERENCES [dbo].[Opening_ClosingDays_Shop] ([Opening_ClosingDays_Shop_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transaction_Shop] CHECK CONSTRAINT [FK_dbo.Transaction_Shop_dbo.Opening_ClosingDays_Shop_Opening_ClosingDays_Shop_id]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Transactions_dbo.Opening_ClosingDays_Opening_ClosingDays_id] FOREIGN KEY([Opening_ClosingDays_id])
REFERENCES [dbo].[Opening_ClosingDays] ([Opening_ClosingDays_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_dbo.Transactions_dbo.Opening_ClosingDays_Opening_ClosingDays_id]
GO
USE [master]
GO
