USE [master]
GO
/****** Object:  Database [DHMRice]    Script Date: 11/8/2017 3:10:32 AM ******/
CREATE DATABASE [DHMRice]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DHMRice', FILENAME = N'E:\Softwares\sql server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DHMRice.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DHMRice_log', FILENAME = N'E:\Softwares\sql server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DHMRice_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DHMRice].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DHMRice]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/8/2017 3:10:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 11/8/2017 3:10:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 11/8/2017 3:10:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 11/8/2017 3:10:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 11/8/2017 3:10:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 11/8/2017 3:10:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[MobileNo] [nvarchar](max) NULL,
	[User_Cnic] [nvarchar](max) NULL,
	[User_Adress] [nvarchar](max) NULL,
	[ShopCrendital] [bit] NOT NULL DEFAULT ((0)),
	[FactroryCrendital] [bit] NOT NULL DEFAULT ((0)),
	[Status] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Brokers]    Script Date: 11/8/2017 3:10:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brokers](
	[Broker_Id] [int] IDENTITY(1,1) NOT NULL,
	[Broker_Name] [nvarchar](max) NOT NULL,
	[Broker_Code] [nvarchar](max) NOT NULL,
	[Broker_MobileNo] [nvarchar](max) NOT NULL,
	[Broker_BankName] [nvarchar](max) NOT NULL,
	[Broker_ACcountNo] [nvarchar](max) NOT NULL,
	[Broker_Address] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Brokers] PRIMARY KEY CLUSTERED 
(
	[Broker_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customers]    Script Date: 11/8/2017 3:10:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Customer_Id] [int] IDENTITY(1,1) NOT NULL,
	[Customer_Name] [nvarchar](max) NOT NULL,
	[Customer_Code] [nvarchar](max) NOT NULL,
	[Customer_MobileNo] [nvarchar](max) NOT NULL,
	[Customer_BankName] [nvarchar](max) NOT NULL,
	[Customer_ACcountNo] [nvarchar](max) NOT NULL,
	[Customer_Address] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[Customer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Factories]    Script Date: 11/8/2017 3:10:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factories](
	[Factory_Id] [int] IDENTITY(1,1) NOT NULL,
	[Factory_Name] [nvarchar](max) NOT NULL,
	[Factory_Code] [nvarchar](max) NOT NULL,
	[Factory_Number] [nvarchar](max) NOT NULL,
	[Factory_BankName] [nvarchar](max) NOT NULL,
	[Factory_ACcountNo] [nvarchar](max) NOT NULL,
	[Factory_Address] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Factories] PRIMARY KEY CLUSTERED 
(
	[Factory_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Opening_ClosingDays]    Script Date: 11/8/2017 3:10:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Opening_ClosingDays](
	[Opening_ClosingDays_id] [int] IDENTITY(1,1) NOT NULL,
	[Opening_Balance] [decimal](18, 2) NOT NULL,
	[Closing_Balance] [decimal](18, 2) NOT NULL,
	[Date] [datetime] NOT NULL,
	[isClosed] [bit] NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Opening_ClosingDays] PRIMARY KEY CLUSTERED 
(
	[Opening_ClosingDays_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Packings]    Script Date: 11/8/2017 3:10:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Packings](
	[Packing_Id] [int] IDENTITY(1,1) NOT NULL,
	[Packing_Type] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Packings] PRIMARY KEY CLUSTERED 
(
	[Packing_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Parties]    Script Date: 11/8/2017 3:10:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parties](
	[Party_Id] [int] IDENTITY(1,1) NOT NULL,
	[Party_Name] [nvarchar](max) NOT NULL,
	[Party_Code] [nvarchar](max) NOT NULL,
	[Party_MobileNo] [nvarchar](max) NOT NULL,
	[Party_BankName] [nvarchar](max) NOT NULL,
	[Party_ACcountNo] [nvarchar](max) NOT NULL,
	[Party_Address] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Parties] PRIMARY KEY CLUSTERED 
(
	[Party_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pricings]    Script Date: 11/8/2017 3:10:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pricings](
	[Pricing_id] [int] IDENTITY(1,1) NOT NULL,
	[item_id] [int] NOT NULL,
	[item_Type] [nvarchar](max) NULL,
	[Pricing_Rate] [decimal](18, 2) NOT NULL,
	[Pricing_Total] [decimal](18, 2) NOT NULL,
	[Pricing_NetTotal] [decimal](18, 2) NOT NULL,
	[Pricing_Date] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
	[PerBagPrice] [decimal](18, 2) NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.Pricings] PRIMARY KEY CLUSTERED 
(
	[Pricing_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RawRiceExpenses]    Script Date: 11/8/2017 3:10:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RawRiceExpenses](
	[RawRiceExpense_id] [int] IDENTITY(1,1) NOT NULL,
	[RawRiceExpense_Name] [nvarchar](max) NULL,
	[RawRiceExpense_Amount] [decimal](18, 2) NOT NULL,
	[RawRice_id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.RawRiceExpenses] PRIMARY KEY CLUSTERED 
(
	[RawRiceExpense_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RawRices]    Script Date: 11/8/2017 3:10:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RawRices](
	[RawRice_id] [int] IDENTITY(1,1) NOT NULL,
	[Party_Id] [int] NOT NULL,
	[Broker_Id] [int] NOT NULL,
	[Rice_category_Id] [int] NOT NULL,
	[Item_Name] [nvarchar](max) NOT NULL,
	[Packing_Id] [int] NOT NULL,
	[Bags_qty] [int] NOT NULL,
	[Total_Weight] [decimal](18, 2) NOT NULL,
	[Total_Mann] [decimal](18, 2) NOT NULL,
	[Status] [bit] NOT NULL,
	[Item_Code] [nvarchar](max) NOT NULL DEFAULT (''),
	[Bags_Sold_qty] [int] NOT NULL DEFAULT ((0)),
	[Date] [datetime] NOT NULL DEFAULT ('1900-01-01T00:00:00.000'),
 CONSTRAINT [PK_dbo.RawRices] PRIMARY KEY CLUSTERED 
(
	[RawRice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rice_Category]    Script Date: 11/8/2017 3:10:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rice_Category](
	[Rice_category_Id] [int] IDENTITY(1,1) NOT NULL,
	[Rice_Category_Name] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Rice_Category] PRIMARY KEY CLUSTERED 
(
	[Rice_category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rice_Production]    Script Date: 11/8/2017 3:10:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rice_Production](
	[Rice_Production_id] [int] IDENTITY(1,1) NOT NULL,
	[Rice_Production_name] [nvarchar](max) NULL,
	[Packing_Id] [int] NOT NULL,
	[Rice_Production_TotalRate] [decimal](18, 2) NOT NULL,
	[Rice_Production_TotalBags] [int] NOT NULL,
	[Rice_Production_Bags] [int] NOT NULL,
	[Rice_Production_TotalWieght] [decimal](18, 2) NOT NULL,
	[Rice_Production_Average] [decimal](18, 2) NOT NULL,
	[Rice_Production_TotalWorth] [decimal](18, 2) NOT NULL,
	[Rice_Production_ShortFall_total] [decimal](18, 2) NOT NULL,
	[Rice_Production_TotalExpense] [decimal](18, 2) NOT NULL,
	[Rice_Production_StockWorth] [decimal](18, 2) NOT NULL,
	[Rice_Production_TotalByProductWorth] [decimal](18, 2) NOT NULL,
	[FactoryCost] [decimal](18, 2) NOT NULL,
	[Rice_Production_perBagPrice] [decimal](18, 2) NOT NULL,
	[MarketPrice] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Rice_Production] PRIMARY KEY CLUSTERED 
(
	[Rice_Production_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Shops]    Script Date: 11/8/2017 3:10:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shops](
	[Shop_Id] [int] IDENTITY(1,1) NOT NULL,
	[Shop_Name] [nvarchar](max) NOT NULL,
	[Shop_Code] [nvarchar](max) NOT NULL,
	[Shop_MobileNo] [nvarchar](max) NOT NULL,
	[Shop_BankName] [nvarchar](max) NOT NULL,
	[Shop_ACcountNo] [nvarchar](max) NOT NULL,
	[Shop_Address] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Shops] PRIMARY KEY CLUSTERED 
(
	[Shop_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 11/8/2017 3:10:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[Transaction_item_id] [int] NOT NULL,
	[Transaction_item_type] [nvarchar](max) NULL,
	[Transaction_Description] [nvarchar](max) NULL,
	[BankAccountNo] [nvarchar](max) NULL,
	[checkno] [int] NOT NULL,
	[Debit] [decimal](18, 2) NOT NULL,
	[Credit] [decimal](18, 2) NOT NULL,
	[Transaction_DateTime] [datetime] NOT NULL,
	[status] [bit] NOT NULL,
	[isByCash] [bit] NOT NULL,
	[Opening_ClosingDays_id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Transactions] PRIMARY KEY CLUSTERED 
(
	[Transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'3', N'Factory')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Shop')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'6a853add-56a6-49db-9c26-b3881049e71b', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'cec3fe66-a10e-4cdf-8de3-3588818e0a3d', N'3')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [MobileNo], [User_Cnic], [User_Adress], [ShopCrendital], [FactroryCrendital], [Status]) VALUES (N'cec3fe66-a10e-4cdf-8de3-3588818e0a3d', N'shiningstar8444@gmail.com', 0, N'ACOMmSBcRM2J9ViXFDBgqni8/aCglWY8382JsiH72Ec2tK4RmqBt2jUkTHRER3Q2Uw==', N'92f288ac-add0-4522-8df6-636719b25058', NULL, 0, 0, NULL, 1, 0, N'waleed', N'03241488970', N'3520106117699', N'testing', 0, 1, 1)
SET IDENTITY_INSERT [dbo].[Brokers] ON 

INSERT [dbo].[Brokers] ([Broker_Id], [Broker_Name], [Broker_Code], [Broker_MobileNo], [Broker_BankName], [Broker_ACcountNo], [Broker_Address], [Status]) VALUES (1, N'Broker1', N'B1', N'1221312', N'aslkjdalkjds', N'akjshdkaj', N'kajshdfkladsf', 1)
SET IDENTITY_INSERT [dbo].[Brokers] OFF
SET IDENTITY_INSERT [dbo].[Opening_ClosingDays] ON 

INSERT [dbo].[Opening_ClosingDays] ([Opening_ClosingDays_id], [Opening_Balance], [Closing_Balance], [Date], [isClosed], [status]) VALUES (4, CAST(50000.00 AS Decimal(18, 2)), CAST(-363300.00 AS Decimal(18, 2)), CAST(N'2017-11-02 23:15:22.910' AS DateTime), 1, 1)
INSERT [dbo].[Opening_ClosingDays] ([Opening_ClosingDays_id], [Opening_Balance], [Closing_Balance], [Date], [isClosed], [status]) VALUES (5, CAST(-363300.00 AS Decimal(18, 2)), CAST(50000.00 AS Decimal(18, 2)), CAST(N'2017-11-02 23:26:29.367' AS DateTime), 1, 1)
INSERT [dbo].[Opening_ClosingDays] ([Opening_ClosingDays_id], [Opening_Balance], [Closing_Balance], [Date], [isClosed], [status]) VALUES (6, CAST(50000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2017-11-02 23:28:45.503' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[Opening_ClosingDays] OFF
SET IDENTITY_INSERT [dbo].[Packings] ON 

INSERT [dbo].[Packings] ([Packing_Id], [Packing_Type]) VALUES (1, 25)
INSERT [dbo].[Packings] ([Packing_Id], [Packing_Type]) VALUES (2, 50)
INSERT [dbo].[Packings] ([Packing_Id], [Packing_Type]) VALUES (3, 75)
SET IDENTITY_INSERT [dbo].[Packings] OFF
SET IDENTITY_INSERT [dbo].[Parties] ON 

INSERT [dbo].[Parties] ([Party_Id], [Party_Name], [Party_Code], [Party_MobileNo], [Party_BankName], [Party_ACcountNo], [Party_Address], [Status]) VALUES (1, N'Party1', N'P1', N'1231231', N'adsjkfh', N'1231231123', N'sadfasdfasf', 1)
SET IDENTITY_INSERT [dbo].[Parties] OFF
SET IDENTITY_INSERT [dbo].[Pricings] ON 

INSERT [dbo].[Pricings] ([Pricing_id], [item_id], [item_Type], [Pricing_Rate], [Pricing_Total], [Pricing_NetTotal], [Pricing_Date], [Status], [PerBagPrice]) VALUES (8, 8, N'RawRice', CAST(100.00 AS Decimal(18, 2)), CAST(200000.00 AS Decimal(18, 2)), CAST(200100.00 AS Decimal(18, 2)), CAST(N'2017-11-01 06:20:50.747' AS DateTime), 1, CAST(5508.00 AS Decimal(18, 2)))
INSERT [dbo].[Pricings] ([Pricing_id], [item_id], [item_Type], [Pricing_Rate], [Pricing_Total], [Pricing_NetTotal], [Pricing_Date], [Status], [PerBagPrice]) VALUES (9, 9, N'RawRice', CAST(12.00 AS Decimal(18, 2)), CAST(23400.00 AS Decimal(18, 2)), CAST(23400.00 AS Decimal(18, 2)), CAST(N'2017-11-01 06:24:19.593' AS DateTime), 1, CAST(5508.00 AS Decimal(18, 2)))
INSERT [dbo].[Pricings] ([Pricing_id], [item_id], [item_Type], [Pricing_Rate], [Pricing_Total], [Pricing_NetTotal], [Pricing_Date], [Status], [PerBagPrice]) VALUES (1006, 1007, N'RawRice', CAST(35.00 AS Decimal(18, 2)), CAST(10500.00 AS Decimal(18, 2)), CAST(10516.00 AS Decimal(18, 2)), CAST(N'2017-11-02 21:33:08.013' AS DateTime), 1, CAST(5508.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Pricings] OFF
SET IDENTITY_INSERT [dbo].[RawRiceExpenses] ON 

INSERT [dbo].[RawRiceExpenses] ([RawRiceExpense_id], [RawRiceExpense_Name], [RawRiceExpense_Amount], [RawRice_id]) VALUES (1010, N'12', CAST(10.00 AS Decimal(18, 2)), 1011)
SET IDENTITY_INSERT [dbo].[RawRiceExpenses] OFF
SET IDENTITY_INSERT [dbo].[RawRices] ON 

INSERT [dbo].[RawRices] ([RawRice_id], [Party_Id], [Broker_Id], [Rice_category_Id], [Item_Name], [Packing_Id], [Bags_qty], [Total_Weight], [Total_Mann], [Status], [Item_Code], [Bags_Sold_qty], [Date]) VALUES (1011, 1, 1, 1, N'1jshd', 1, 12, CAST(300.00 AS Decimal(18, 2)), CAST(7.50 AS Decimal(18, 2)), 1, N'asd1283', 0, CAST(N'2017-11-07 14:08:17.563' AS DateTime))
SET IDENTITY_INSERT [dbo].[RawRices] OFF
SET IDENTITY_INSERT [dbo].[Rice_Category] ON 

INSERT [dbo].[Rice_Category] ([Rice_category_Id], [Rice_Category_Name], [Status]) VALUES (1, N'Chukwa', 1)
INSERT [dbo].[Rice_Category] ([Rice_category_Id], [Rice_Category_Name], [Status]) VALUES (2, N'Load', 1)
INSERT [dbo].[Rice_Category] ([Rice_category_Id], [Rice_Category_Name], [Status]) VALUES (3, N'Pohnch', 1)
SET IDENTITY_INSERT [dbo].[Rice_Category] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 11/8/2017 3:10:33 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 11/8/2017 3:10:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 11/8/2017 3:10:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 11/8/2017 3:10:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 11/8/2017 3:10:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 11/8/2017 3:10:33 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RawRice_id]    Script Date: 11/8/2017 3:10:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_RawRice_id] ON [dbo].[RawRiceExpenses]
(
	[RawRice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Broker_Id]    Script Date: 11/8/2017 3:10:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_Broker_Id] ON [dbo].[RawRices]
(
	[Broker_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Packing_Id]    Script Date: 11/8/2017 3:10:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_Packing_Id] ON [dbo].[RawRices]
(
	[Packing_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Party_Id]    Script Date: 11/8/2017 3:10:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_Party_Id] ON [dbo].[RawRices]
(
	[Party_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rice_category_Id]    Script Date: 11/8/2017 3:10:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_Rice_category_Id] ON [dbo].[RawRices]
(
	[Rice_category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Packing_Id]    Script Date: 11/8/2017 3:10:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_Packing_Id] ON [dbo].[Rice_Production]
(
	[Packing_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Opening_ClosingDays_id]    Script Date: 11/8/2017 3:10:33 AM ******/
CREATE NONCLUSTERED INDEX [IX_Opening_ClosingDays_id] ON [dbo].[Transactions]
(
	[Opening_ClosingDays_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ((0)) FOR [isByCash]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ((0)) FOR [Opening_ClosingDays_id]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[RawRiceExpenses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RawRiceExpenses_dbo.RawRices_RawRice_id] FOREIGN KEY([RawRice_id])
REFERENCES [dbo].[RawRices] ([RawRice_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RawRiceExpenses] CHECK CONSTRAINT [FK_dbo.RawRiceExpenses_dbo.RawRices_RawRice_id]
GO
ALTER TABLE [dbo].[RawRices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RawRices_dbo.Brokers_Broker_Id] FOREIGN KEY([Broker_Id])
REFERENCES [dbo].[Brokers] ([Broker_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RawRices] CHECK CONSTRAINT [FK_dbo.RawRices_dbo.Brokers_Broker_Id]
GO
ALTER TABLE [dbo].[RawRices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RawRices_dbo.Packings_Packing_Id] FOREIGN KEY([Packing_Id])
REFERENCES [dbo].[Packings] ([Packing_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RawRices] CHECK CONSTRAINT [FK_dbo.RawRices_dbo.Packings_Packing_Id]
GO
ALTER TABLE [dbo].[RawRices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RawRices_dbo.Parties_Party_Id] FOREIGN KEY([Party_Id])
REFERENCES [dbo].[Parties] ([Party_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RawRices] CHECK CONSTRAINT [FK_dbo.RawRices_dbo.Parties_Party_Id]
GO
ALTER TABLE [dbo].[RawRices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RawRices_dbo.Rice_Category_Rice_category_Id] FOREIGN KEY([Rice_category_Id])
REFERENCES [dbo].[Rice_Category] ([Rice_category_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RawRices] CHECK CONSTRAINT [FK_dbo.RawRices_dbo.Rice_Category_Rice_category_Id]
GO
ALTER TABLE [dbo].[Rice_Production]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rice_Production_dbo.Packings_Packing_Id] FOREIGN KEY([Packing_Id])
REFERENCES [dbo].[Packings] ([Packing_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rice_Production] CHECK CONSTRAINT [FK_dbo.Rice_Production_dbo.Packings_Packing_Id]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Transactions_dbo.Opening_ClosingDays_Opening_ClosingDays_id] FOREIGN KEY([Opening_ClosingDays_id])
REFERENCES [dbo].[Opening_ClosingDays] ([Opening_ClosingDays_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_dbo.Transactions_dbo.Opening_ClosingDays_Opening_ClosingDays_id]
GO
USE [master]
GO
